antiorm==1.2.1
BareNecessities==0.2.8
blinker==1.4
boto3==1.28.51
botocore==1.31.51
click==8.0.4
colorama==0.4.4
db==0.1.1
dnspython==2.4.2
email-validator==2.0.0.post2
Flask==2.0.3
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==2.0.1
gunicorn==20.1.0
idna==3.4
itsdangerous==2.1.1
Jinja2==3.0.3
jmespath==1.0.1
Mail==2.1.0
MarkupSafe==2.1.1
psycopg2-binary==2.9.5
python-dateutil==2.8.2
s3transfer==0.6.2
six==1.16.0
SQLAlchemy==1.4.32
urllib3==1.26.16
waitress==2.1.2
Werkzeug==2.0.3
WTForms==3.0.1
