#manageEmployees {
  width:100%;

  tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;

    .table-row {
      height: 100px;
    }

    &:first-child {
      height: 30px;
      background-color: var(--gold-opaque);
    }
    &:nth-of-type(2n + 0) {
      /* Even numbered rows */
    }
    td:first-of-type{
      flex-grow: 1;
    }

    .img{
      width: 100px;
    }

    .button-container{
      width: auto;
      .btn{
        margin:2px;
      }
    }
  }
}

.time-sent{

}


.contact-response{
  .time-sent{
    color: #9C9C9C;
    width: fit-content;
    margin: 10px 10% 0 auto;
    font-size: 1rem;
    font-weight: 600;
  }
}