{% extends "base.html" %}
{% from '_formhelpers.html' import render_field %}
{% block title %}Admin Sign Up{% endblock %}
{% block content %}
<div class="page-container section1">
    <h1>Admin Sign Up</h1>
    <form method="POST" class="form-container">
        <dl>
            {{ form.csrf_token }}
            {{ render_field(form.first_name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
            {{ render_field(form.notifications) }}
        </dl>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}