{% extends "base.html" %}
{% from '_formhelpers.html' import render_field %}

{% block content %}
    <div class="page-container section1">
        <form method="POST" class="form-container">
            <h3 style="text-align: center">Login</h3>
            <dl>
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
            </dl>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}