{% extends 'base.html' %}
{% from 'macros.html' import admin_navbar %}
{% block title %}News & Articles{% endblock %}
{% block content %}
    <div class="section1">
        <h1 style="text-align:center">News & Articles</h1>
        <div class="row">
            <div class="col-4 sidebar">
                {% for article in articles %}
                <div class="title-card">
                    <h6><a class="wlfblue" href="{{ url_for('views.articles', id=article.id ) }}">{{ article.title }}</a></h6>
                </div>
                {% endfor %}
            </div>
            <div id="content" class="col-8">
                <!-- Content goes here -->
                    <div class="article-container">
                        <div class="article-body">
                            <div class="article-title">
                                <h1><a class="wlfblue" href="#">{{ article.title }}</a></h1>
                                {% if article.published_date != "None" %}
                                    <p class="article-date"><b>Publishing Date: </b>{{ article.published_date }}</p>
                                {% endif %}
                                {% if article.url %}
                                    <p><b>Source: </b>{{ article.url }}</p>
                                {% endif %}
                                <p><b>Date Added: </b>{{ article.date }}</p>
                            </div>
                            <div class="article-summary">
                                <p class="article-body">{{ article.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
