{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}
{% from 'macros.html' import admin_navbar %}

{% block content %}
    {{ admin_navbar('aaccount') }}
    <div class="page-container section1">
        <h3>Change Password</h3>
        <form class="form-container" id=admin method="POST">
            <dl>
                {{ form.csrf_token }}
                {{ render_field(form.current_password) }}
                {{ render_field(form.new_password) }}
                {{ render_field(form.confirm_password) }}
            </dl>
            <button type="submit" class="btn blue-grey darken-1" style="margin-top: 30px">Submit</button>
            <a class="goBack" href="{{ url_for('views.admin_portal') }}">
                <i class="material-icons medium reflect">redo</i>
            </a>
        </form>
    </div>

{% endblock %}