{% extends "base.html" %}
{% block title %}Class Actions{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static', filename='classaction-header.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h1 class="page-header-text">Class Actions</h1>
		</div>
	</div>

	<div class="page-container employee-section d-flex flex-column section1">
		<div class="inner-section" id="FirmOverview" data-editable data-name="class-actions">
			<!-- editable class-actions -->
			<p>
			When a collective group of individuals have been wronged or harmed, class action lawsuits allow for the entire party to come together and seek compensation. This can be beneficial in cases where no one person has enough economic incentive to bring suit on his or her own.</p>
			<p>
			These cases are often complex and lengthy, but our class action lawyers are committed to performing the daunting amounts of preparation these high value cases demand. Wise Law Firm, PLC has extensive experience in battling sizeable corporations in multiple states across the country. Contact us today to for a free consultation to discuss your rights.
			</p>
			<!-- endeditable class-actions -->
		</div>
	</div>
{% endblock %}