{% extends "base.html" %}
{% block title %}Construction Law{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static', filename='images/constructionlaw.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h1 class="page-header-text">Construction Law</h1>
		</div>
	</div>

	<div class="page-container employee-section d-flex flex-column section1">
		<div class="inner-section" data-editable data-name="construction-law-summary">
			<!-- editable construction-law-summary -->
			<h2 class="center animate-left"> Fairfax Law Firm Strives to Resolve Construction Disputes </h2>
			<p>
			At Wise Law Firm, PLC, our priority is protecting your interests as you proceed with any type of construction project or development work. Based in Fairfax, we represent clients throughout Virginia in a broad range of construction law matters, with an emphasis on construction defects and contract disputes. With 100 combined years of experience, we draw upon our extensive knowledge of state and federal law and courtroom procedures to resolve our clients’ problems efficiently. If you need thorough advice or dedicated court representation, our attorneys can help you address your concerns and legal challenges at all stages of the construction process.
			<br><br>
			Construction law matters generally involve complex technical issues and so should be trusted to experienced attorneys. At our firm, we have worked extensively with a variety of subject matter experts, across multiple industries.  This includes general contractors, subcontractors, manufacturers, engineers and developers. We provide a comprehensive set of legal services for the following types of matters:
			<br><br>
			</p>
			<ul>
				<li><p>Architectural and engineering errors — Defects in a construction project can happen for many reasons, including rushed production, insufficient supervision or a lack of understanding of contract terms. In particular, design errors and low-quality workmanship or materials can result in defects that negatively affect the building’s habitability and value. While some types of defects, known as patent defects, are immediately visible, latent defects may not emerge until long after the project’s completion. We represent clients in construction defects litigation cases related to improper design or workmanship, soil and water movement, consumer protection issues, warranty of habitability and code violations and other problems.</p></li>
				<li><p>Contract disputes — Even with a carefully drafted construction contract, parties may interpret certain terms differently and disagree on what constitutes the fulfillment of an obligation. Our firm handles disputes arising from incomplete or unsatisfactory performance and other alleged breaches of contract. We also help clients pursue and resolve claims involving construction defects, construction delays, change orders, non-payment and other performance issues resulting in unwarranted cost increases or monetary losses. We are committed to helping you bolster development progress and maximize the value of your projects through prudent legal action. When performance issues and conflicts occur during a construction project, we are prepared to pursue or defend claims on behalf of our clients, favoring negotiation and alternative dispute resolution over litigation wherever possible.</p></li>
			</ul>
			<!-- endeditable construction-law-summary -->
		</div>
	</div>
{% endblock %}
		