{% extends "base.html" %}

{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{ url_for('static', filename='defect.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h2 class="page-header-text">Construction Defect Litigation</h2>
		</div>
	</div>

	<div class="page-container employee-section section1 d-flex flex-column" id="FirmOverview" data-editable data-name="construction-defect">
		<!-- editable construction-defect -->
		<h2 class="center animate-left"> Fairfax Law Firm Strives to Resolve Construction Disputes </h2>
		<p>
		Our construction attorneys represent commercial and residential building owners, contractors, subcontractors, design professionals and suppliers in construction defect claims, suing to recover for damages or defending against claims alleging defects in construction projects.</p>
		<p>
		We handle a broad range of all types of construction defect disputes, including:
		</p>
		<!-- editable construction-defect -->
		<div class="list">
			<ul>
				<div data-editable data-name="defect-disputes">
					<!-- editable defect-disputes -->
					<li>Negligent site investigation </li>
					<li>Defective designs or plans</li>
					<li>Building code or housing code violations</li>
					<li>Express warranty and implied warranty claims </li>
					<li>Sub-standard workmanship and contractor negligence</li>
					<li>Violation of industry standards</li>
					<li>Water leakage or damage</li>
					<li>Defective roofing, flashing or window installation</li>
					<li>Electrical and mechanical defects</li>
					<li>Failure to follow plans and specifications</li>
					<li>Product and material defects and failures
					<li>Manufacturing defects in buildings components</li>
					<li>Physical damage to buildings</li>
					<li>Structural damage or errors</li>
					<li>Lateral or sub- adjacent support claims</li>
					<li>Loss of use damages</li>
					<li>Economic Loss Rule</li>
					<li>Fraud and misrepresentation claims</li>
					<li>Insurance claims and coverage issues</li>
					<li>Contractor licensing issues</li>
					<li>Restitution or repayment of amounts paid to unlicensed contractors</li>
					<li>Suspended or revoked contractor’s license</li>
					<!-- endeditable defect-disputes -->
				</div>
			</ul>
		</div>
	</div>
{% endblock %}