{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}
{% from 'macros.html' import admin_navbar, local_flashed_message, help_dialog %}

{% block content %}
    {{ admin_navbar('contact') }}
    <div class="page-container section1">
        <h3 style="text-align: center">Contact Us Form Submissions</h3>
        <a href="{{ url_for('views.contact_archive')}}" class="abs-corner-btn btn">Archive</a>
        {% if not contacts %}
            <div class="callout gold">
                <h5>There are no new contact submissions</h5>
            </div>
        {% endif %}
        {% for contact in contacts %}
            <div id="popup{{ contact.id }}" class="popup">
                <div class="close-btn">&times;</div>
                <h5 style="width: 100%; text-align: center;">Contact Form Email Response</h5>
                <form id="respond" method="post">
                    {{ render_field(form.recipients, value=contact.email, multiple="true") }}
                    <dt>
                        <label>Recipient Name</label>
                    </dt>
                    <dd>
                        <p>{{ contact.name }}</p>
                    </dd>
                    <dt>
                        <label>In Response To</label>
                    </dt>
                    <dd>
                        <p class="db-text opaque-bg">{{ contact.message }}</p>
                    </dd>
                    {{ render_field(form.message, class="inset-text-area") }}
                    {{ form.csrf_token }}
                    <input type="hidden" name="contactId" value="{{ contact.id }}">
                    <button type="submit" class="btn purple-bg updateResponded" style="width: 100%">Send</button>
                </form>
            </div>
            <div class="form-container">
                <div class="flex-row-baseline" style="width: 100%;">
                    <div class="flex-row-baseline">
                        <div class="row-item">
                            <h6><b>Name: </b></h6>
                        </div>
                        <div class="row-item">
                            <p>{{ contact.name }}</p>
                        </div>
                    </div>
                    <div class="flex-row-baseline">
                        <div class="row-item">
                            <h6><b>Email: </b></h6>
                        </div>
                        <div class="row-item">
                            <p>{{ contact.email }}</p>
                        </div>
                    </div>
                    {% if contact.responded %}
                        <div class="row-item">
                            <h6 class="roundLabel">Responded</h6>
                        </div>
                    {% endif %}
                </div>
                <div class="flex-column-start">
                    <div class="row-item">
                        <h6><b>Message: </b></h6>
                    </div>
                    <div class="opaque-bg fullwidth">
                        <p class="db-text">{{ contact.message }}</p>
                    </div>
                </div>
                <div class="flex-row-gap">
                    <a href="{{ url_for('views.toggle_responded', id=contact.id) }}" class="btn">Toggle Responded</a>
                    <button id="{{ contact.id }}" class="btn respondPopup">Respond</button>
                    <a href="{{ url_for('views.toggle_archive', id=contact.id) }}" class="btn">Archive</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        let buttons = document.querySelectorAll(".respondPopup");
        buttons.forEach(
            function (currentValue, currentIndex, listObj) {
                let identifier = "#popup" + currentValue.id;
                console.log(identifier)
                currentValue.addEventListener("click", function () {
                    document.querySelector(identifier).classList.add("active")
                })
            });

        let closeButtons = document.querySelectorAll(".close-btn")
        closeButtons.forEach(
            function (closeButton) {
                closeButton.addEventListener("click", function () {
                    closeButton.parentElement.classList.remove("active")
                })
            });
    </script>

{% endblock %}