{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}
{% from 'macros.html' import admin_navbar, local_flashed_message %}
{% block title %}{{ header}}{% endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {{ admin_navbar('employees') }}
    <div class="page-container section1" id="createAttorneyPC">
        <h1>{{ header }}</h1>
        <form class="form-container" style="overflow-x: auto" method="POST" enctype="multipart/form-data">
            {{ local_flashed_message() }}
            <dl>
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-sm-6 col-12">
                        {{ render_field(form.name) }}
                        {{ render_field(form.title) }}
                    </div>
                    <div class="col-sm-6 col-12">
                        <dt>
                            <label for="picture">Employee Picture:</label>
                        </dt>
                        <dd>
                            <input id="picture" name='picture' class="simple-file-upload" type="hidden" data-tag='employee'
                                   data-template="frosty" data-resize-width="300" data-resize-height=""
                                   data-width="100%" data-height="120px"
                                   data-maxFileSize="5" data-accepted="image/*">
                        </dd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        {{ render_field(form.email) }}
                    </div>
                    <div class="col-sm-6 col-12">
                        {{ render_field(form.phone_number) }}
                    </div>
                </div>
                {{ render_field(form.about) }}
                {{ form.new_attorney_id }}
                <dt class="position-relative">
                    <label for="plField">Professional Licenses</label>
                    <button type="button" class="add" onclick="showLicense()">Add</button>
                </dt>
                <dd>
                    <ul class="list-container" id="pl-list">
                        {% for pl in current_attorney.professional_licenses %}
                            <li id="licenseId{{ pl.id }}" class="list-entry">
                                <div class="bullet">{{ pl.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-license onclick="showLicense('edit', '{{ pl.title }}',
                                            '{{ pl.id }}')">Edit</a>
                                    <a class="button" href=# id=delete-license onclick="deleteLicense({{ pl.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class="position-relative">
                    <label for="pa-list">Professional Activities</label>
                    <button type="button" class="add" onclick="showActivity()">Add</button>
                </dt>
                <dd>
                     <ul class="list-container" id="pa-list">
                        {% for pa in current_attorney.professional_activities %}
                            <li id="activityId{{ pa.id }}" class="list-entry">
                                <div class="bullet">{{ pa.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-activity onclick="showActivity('edit',
                                            '{{ pa.title }}', '{{ pa.id }}')">Edit</a>
                                    <a class="button" href=# id=delete-activity onclick="deleteActivity({{ pa.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class="position-relative">
                    <label for="education-list">Education</label>
                    <button type="button" class="add" onclick="showEducation()">Add</button>
                </dt>
                <dd>
                    <ul class="list-container" id="education-list">
                        {% for education in current_attorney.education %}
                            <li id="educationId{{ education.id }}" class="list-entry">
                                <div class="bullet">{{ education.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-education onclick="showEducation('edit',
                                            '{{ education.degree }}', '{{ education.school }}', '{{ education.year }}',
                                            '{{ education.accolades }}', '{{ education.id }}')">Edit</a>
                                    <a class="button" href=# id=delete-education onclick="deleteEducation({{ education.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class="position-relative">
                    <label for="publication-list">Publications</label>
                    <button type="button" class="add" onclick="showPublication()">Add</button>
                </dt>
                <dd>
                    <ul class="list-container" id="publication-list">
                        {% for p in current_attorney.publications %}
                            <li id="publicationId{{ p.id }}" class="list-entry">
                                <div class="bullet">{{ p.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-publication onclick="showPublication('edit',
                                            '{{ p.title }}', '{{ p.details }}', '{{ p.publication }}', '{{ p.year }}',
                                            '{{ p.id }}')">Edit</a>
                                    <a class="button" href=# id=delete-publication onclick="deletePublication({{ p.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class="position-relative">
                    <label for="aop-list">Areas of Practice</label>
                    <button type="button" class="add" onclick="showAop()">Add</button>
                </dt>
                <dd>
                    <ul class="list-container" id="aop-list">
                        {% for aop in current_attorney.areas_of_practice %}
                            <li id="aopId{{ aop.id }}" class="list-entry">
                                <div class="bullet">{{ aop.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-aop onclick="showAop('edit', '{{ aop.name }}',
                                            '{{ aop.id }}')">Edit</a>
                                    <a class="button" href=# id=delete-aop onclick="deleteAop({{ aop.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class="position-relative">
                     <label for="admission-list">Admissions</label>
                    <button type="button" class="add" onclick="showAdmission()">Add</button>
                </dt>
                <dd>
                    <ul class="list-container" id="admission-list">
                        {% for admission in current_attorney.admissions %}
                            <li id="admissionId{{ admission.id }}" class="list-entry">
                                <div class="bullet">{{ admission.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-admission onclick="showAdmission('edit',
                                            '{{ admission.court }}', '{{ admission.year }}', '{{ admission.id }}')">Edit</a>
                                    <a class="button" href=# id=delete-admission onclick="deleteAdmission({{ admission.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class="position-relative">
                    <label for="membership-list">Memberships</label>
                    <button type="button" class="add" onclick="showMembership()">Add</button>
                </dt>
                <dd>
                    <ul class="list-container" id="membership-list">
                        {% for membership in current_attorney.memberships %}
                            <li id="membershipId{{ membership.id }}" class="list-entry">
                                <div class="bullet">{{ membership.to_string() }}</div>
                                <div class="nowrap">
                                    <a class="button" href=# id=edit-membership onclick="showMembership('edit', '{{ membership.name }}', {{ membership.id }} )">Edit</a>
                                    <a class="button" href=# id=delete-membership onclick="deleteMembership({{ membership.id }})">Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            </dl>
            <button type="submit" class="btn">{{ button }}</button>
        </form>
    </div>

    <div class="modal-container" id="plField-modal">
        <div class="form-container">
            <h3>Add Professional License</h3>
            <label for="pl-title">Title
                <input name="pl-title" id="pl-title" type="text">
            </label>
            <button class="btn" onclick="addLicense()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-plField-modal">
        <div class="form-container">
            <h3>Edit Professional License</h3>
            <label for="pl-title-edit">Title
                <input name="pl-title-edit" id="pl-title-edit" type="text">
            </label>
            <input type="hidden" id="licenseHiddenId">
            <button class="btn add-button" onclick="editLicense()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <div class="modal-container" id="paField-modal">
        <div class="form-container">
            <h3>Add Professional Activity</h3>
            <label for="pa-title">Title
                <input name="pa-title" id="pa-title" type="text">
            </label>
            <button class="btn" onclick="addProfessionalActivity()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-paField-modal">
        <div class="form-container">
            <h3>Edit Professional Activity</h3>
            <label for="pa-title-edit">Title
                <input name="pa-title-edit" id="pa-title-edit" type="text">
            </label>
            <input type="hidden" id="activityHiddenId">
            <button class="btn" onclick="editActivity()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <div class="modal-container" id="education-modal">
        <div class="form-container">
            <h3>Add Education</h3>
            <label for="degree">Degree
                <input name="degree" id="degree" type="text">
            </label>
            <label for="school">School
                <input name="school" id="school" type="text">
            </label>
            <label for="year">Year
                <input name="year" id="year" type="text">
            </label>
            <label for="accolades">Accolades
                <input name="accolades" id="accolades" type="text" placeholder="If no accolades, leave blank">
            </label>
            <button class="btn" onclick="addEducation()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-education-modal">
        <div class="form-container">
            <h3>Edit Education</h3>
            <label for="degree-edit">Degree
                <input name="degree-edit" id="degree-edit" type="text">
            </label>
            <label for="school-edit">School
                <input name="school-edit" id="school-edit" type="text">
            </label>
            <label for="year-edit">Year
                <input name="year-edit" id="year-edit" type="text">
            </label>
            <label for="accolades-edit">Accolades
                <input name="accolades-edit" id="accolades-edit" type="text" placeholder="If no accolades, leave blank">
            </label>
            <input type="hidden" id="educationHiddenId">
            <button class="btn" onclick="editEducation()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <div class="modal-container" id="publicationField-modal">
        <div class="form-container">
            <h3>Add Publication</h3>
            <label for="publication-title">Title
                <input name="publication-title" id="publication-title" type="text">
            </label>
            <label for="publication-details">Details
                <input name="publication-details" id="publication-details" type="text">
            </label>
            <label for="publication-publication">Publication
                <input name="publication-publication" id="publication-publication" type="text">
            </label>
            <label for="publication-year">Year
                <input name="publication-year" id="publication-year" type="text">
            </label>
            <button class="btn" onclick="addPublication()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-publicationField-modal">
        <div class="form-container">
            <h3>Edit Publication</h3>
            <label for="publication-title-edit">Title
                <input name="publication-title-edit" id="publication-title-edit" type="text">
            </label>
            <label for="publication-details-edit">Details
                <input name="publication-details-edit" id="publication-details-edit" type="text">
            </label>
            <label for="publication-publication-edit">Publication
                <input name="publication-publication-edit" id="publication-publication-edit" type="text">
            </label>
            <label for="publication-year-edit">Year
                <input name="publication-year-edit" id="publication-year-edit" type="text">
            </label>
            <input type="hidden" id="publicationHiddenId">
            <button class="btn" onclick="editPublication()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <div class="modal-container" id="aopField-modal">
        <div class="form-container">
            <h3>Add Area of Practice</h3>
            <label for="aop-name">Name
                <input name="aop-name" id="aop-name" type="text">
            </label>
            <button class="btn" onclick="addAop()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-aopField-modal">
        <div class="form-container">
            <h3>Edit Area of Practice</h3>
            <label for="aop-name-edit">Name
                <input name="aop-name-edit" id="aop-name-edit" type="text">
                <input type="hidden" id="aopHiddenId">
            </label>
            <button class="btn" onclick="editAop()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <div class="modal-container" id="admissionField-modal">
        <div class="form-container">
            <h3>Add Admission</h3>
            <label for="activity-court">Court
                <input name="admission-court" id="admission-court" type="text">
            </label>
            <label for="admission-year">Year
                <input name="admission-year" id="admission-year" type="text">
            </label>
            <button class="btn" onclick="addAdmission()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-admissionField-modal">
        <div class="form-container">
            <h3>Edit Admission</h3>
            <label for="activity-court-edit">Court
                <input name="admission-court-edit" id="admission-court-edit" type="text">
                <input type="hidden" id="admissionHiddenId">
            </label>
            <label for="admission-year-edit">Year
                <input name="admission-year-edit" id="admission-year-edit" type="text">
            </label>
            <button class="btn add-button" onclick="editAdmission()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <div class="modal-container" id="membershipField-modal">
        <div class="form-container">
            <h3>Add Membership</h3>
            <label for="membership-name">Name
                <input name="membership-name" id="membership-name" type="text">
            </label>
            <button class="btn" onclick="addMembership()">Add</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>
    <div class="modal-container" id="edit-membershipField-modal">
        <div class="form-container">
            <h3>Edit Membership</h3>
            <label for="membership-name-edit">Name
                <input name="membership-name-edit" id="membership-name-edit" type="text">
                <input type="hidden" id="membershipHiddenId">
            </label>
            <button class="add-btn" onclick="editMembership()">Save</button>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
    </div>

    <script src="../static/js/ajax.js"></script>
    <script>$SCRIPT_ROOT = '{{ request.script_root|tojson }}';</script>
    {#  To access flask variables from an external js file, they must first be set as global variables.
        This must be declared before the script tag containing the js file in which the variables are used. #}
    <script>attorneyId = '{{ current_attorney.id }}'</script>
    <script>
        const closeButtons = gsap.utils.toArray('span.close');
        closeButtons.forEach( closeButton => {
            closeButton.setAttribute('tabindex', 0);        // Or closeButton.tabIndex = 0
            closeButton.addEventListener('keypress', (ev) => {
                if (ev.key === 'Enter'){
                    ev.preventDefault();
                    closeButton.click();
                }
            })
        });
    </script>
    <script src={{ url_for('static', filename='js/employee-functions.js') }}></script>
{% endblock %}