{% extends "base.html" %}

{% block content %}

	<div class="page-container employee-section section1 d-flex flex-column">
		<div class="employee-header d-flex flex-row">
			<img class="pic animate-fadein5" src="{{url_for('static', filename='dylan_graham.JPEG') }}" alt="profile picture">
			<div class="employee-header-text-wrapper">
				<h1 class="employee-header-text animate-right">Dylan Graham</h1>
				<h2 class="employee-header-text2 animate-up">Associate</h2>
				<div class="gold-bar animate-left"></div>
			</div>
			<div class="attorney-contact-info d-flex flex-column">
				<div class="d-flex justify-content-space-between">
					<image height=20px width=20px src="{{url_for('static', filename='email.jpg') }}"></image>
					<div class="email-text">dgraham@wiselaw.pro</div>
				</div>
				<div class="d-flex justify-content-space-between">
					<image height=30px width=30px src="{{url_for('static', filename='phone.jpg') }}"></image>
					<div class="phone-text">(703)-934-6377</div>
				</div>
			</div>
		</div>
		<div>
			<h4>About</h4>
			<p>
            During law school, Dylan had the privilege of being one of four students selected to assist in writing
                an amicus curiae brief to the United States Supreme Court in the case Torres v. Texas Department
                of Public Safety 142 S.Ct. 2455, 213 L.Ed. 2d 808 (2022). This opportunity allowed him to analyze
                a complex and novel issue of Constitutional Law, which required extensive research on topics such
                as the Eleventh Amendment, plan of the convention waivers, abrogation of sovereign immunity,
                and enforcement of USERRA without damaging the dual sovereign system.  Furthermore, his time as a legal
                resident at the Guilford County Public Defender's Office exposed him to a fast-paced litigation-based environment.
                Handling numerous cases daily, he became proficient in advocating for clients both in court and through motions and memoranda.
                He has worked on various stages of litigation, including reviewing documents for admissibility during discovery and
                participating in verdicts/plea agreements. Dylan also has experience as a carpenter through which he's assisted
                with every aspect of the construction of new buildings.
                He is a graduate of Elon University School of Law and is currently
                licensed to practice law in the District of Columbia.
            </p>
			<h4>Professional Activities</h4>
			<ul>
                <li>Carpenter for Robbie Craig Construction Company</li>
				<li>Mock Trial Team (Intramural Competition Participant</li>
                <li>Legal Writing Teacher's Assistant</li>
                <li>Elon Law Constitutional Law Clinic</li>
			</ul>

			<h4>Education</h4>
			<ul>
				<li>Elon University School of Law, Juris Doctor, 2022</li>
				<li>Georgia College and State University, Bachelor of Arts in Political Science</li>
			</ul>

			<h4>Areas of Practice</h4>
			<ul>
				<li>Construction Law</li>
				<li>Construction Defects</li>
				<li>Building Code Violations</li>
				<li>Defective Design</li>
				<li>Criminal Defense</li>
			</ul>

			<h4>Bar & Court Admissions</h4>
			<ul>
			    <li>District of Columbia, 2023</li>
			</ul>

			<h4>Membership</h4>
			<ul>
				<li>The District of Columbia Bar</li>
			</ul>
		</div>
	</div>
{% endblock %}