{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}
{% from 'macros.html' import admin_navbar, help_dialog %}

{% block content %}
    {{ admin_navbar('admins') }}
    <div class="page-container section1">
        <h3>Edit Admin Account</h3>
        <form class="form-container" id=admin method="POST">
            <dl>
                {{ form.csrf_token }}
                {{ render_field(form.first_name, value=current_admin.first_name) }}
                {{ render_field(form.email, value=current_admin.email) }}
                <div id="flexRow" class="flex-row-start responsive">
                    <div style="width: 30%">
                        {{ render_field(form.notifications, value=current_user.receives_notifications) }}
                    </div>
                </div>
            </dl>
            <div class="flex-jcenter">
                <button class='btn' id='submit' type="submit">Save</button>
                <a class="goBack btn" id='goBack' href="{{ url_for('views.manage_admins') }}">Go Back</a></div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script>
        (function animateFields(){
            /**
             * Removes the disabled attribute from the HTML Input elements, hides the edit button, and shows the
             * submit button.
             *
             * @type {HTMLElement}
             */
            const firstNameButton = document.getElementById('first_name');
            const emailButton = document.getElementById('email');
            const notificationInput = document.getElementById('notifications');

            /* Animates the buttons to highlight the fact that their state has been changed
            *
            * Each element has 2 stages, changing it to the highlighted mode and then back to regular
            * */
            gsap.to(firstNameButton, {backgroundColor: '#FFFFFF',  boxShadow: 'inset 2px 10px 15px var(--light-grey)', fontSize: '20px', duration: 0.2});
            gsap.to(firstNameButton, {backgroundColor: 'none', fontSize: '16px', boxShadow: 'none', delay: 0.3, duration: 0.2});
            gsap.to(emailButton, {backgroundColor: '#FFFFFF',  boxShadow: 'inset 2px 10px 15px var(--light-grey)',
                fontSize: '20px', duration: 0.2});
            gsap.to(emailButton, {backgroundColor: 'none', fontSize: '16px', boxShadow: 'none', delay: 0.3, duration: 0.2});
            gsap.to(notificationInput, {backgroundColor: '#FFFFFF',  boxShadow: 'inset 2px 10px 15px var(--light-grey)',
                fontSize: '20px', duration: 0.2});
            gsap.to(notificationInput, {backgroundColor: 'none', fontSize: '16px', boxShadow: 'none', delay: 0.3, duration: 0.2});

            event.preventDefault(); //This prevents the page from reloading, which would revert these changes
        })();
    </script>

{% endblock %}