<div style="
    background: rgba(152,153,154,0.24);
    min-height: 700px;
    height: auto;
    position: relative;
    width: 100%;">
    <div style="width: 100%; height: auto; background-color: rgb(72,70,70)">
        <h2 style="margin:10px; padding:10px; color: white; text-align: center">{{ email.subject }}</h2>
    </div>
    <div style="width: 70%; margin-left: auto; margin-right: auto; height: auto; margin-top:100px; margin-bottom: 100px;
        border-radius: 15px;
        padding: 5%;
        box-shadow: 0 0 5px black;
        background-color: white;">

        <p style="white-space: pre-wrap; padding: 0 10px; color: #282727">{{ email.body }}</p>
        <p>Thank you,</p>
        <p style="line-height: 20px">Wise Law Firm, PLC<br>10640 Page Avenue, Suite 320<br>Fairfax, Virginia 22030<br>703-934-6377</p>
        <a style="
        display: block;
        width:120px;
        text-align: center;
        border-radius: 15px;
        background-color: rgb(72,70,70);
        color: white;
        padding:10px 0;
        margin: auto;" href="https://www.wiselaw.pro">Visit Site</a>
    </div>

</div>