{% extends "base.html" %}

{% block content %}
	<div class="page-container employee-section section1 d-flex flex-column">

		<div class="employee-header d-flex flex-row">
			<img class="pic animate-fadein5" src="{{url_for('static', filename='william-evans-og.jpg') }}">
			<div class="employee-header-text-wrapper">
				<h1 class="employee-header-text animate-right">William Evans</h1>
				<h2 class="employee-header-text2 animate-up">Partner</h2>
				<div class="gold-bar animate-left"></div>
			</div>
			<div class="attorney-contact-info d-flex flex-column">
				<div class="d-flex justify-content-space-between">
					<image height=20px width=20px src="{{url_for('static', filename='email.jpg') }}"></image>
					<div class="email-text">wevans@wiselaw.pro</div>
				</div>
				<div class="d-flex justify-content-space-between">
					<image height=30px width=30px src="{{url_for('static', filename='phone.jpg') }}"></image>
					<div class="phone-text">(703) 634-5200</div>
				</div>
			</div>
		</div>
		<div data-editable data-name="evan-williams">
			<!-- editable dave-wise -->
			<h4>About</h4>
            <p>Will Evans handles all manner of litigation for the firm.  A former prosecutor and criminal defense attorney, he prepares every case as if it is going to trial.  Will has a diverse background which includes several years with a biglaw firm in Washington D.C., time as a solo practitioner handling primarily criminal and traffic defense cases, time as an Assistant Commonwealth’s Attorney in Culpeper County, Virginia, and time handling serious civil and criminal defense cases for another Fairfax County law firm.  He went to law school at the University of Chicago Law School, where he was a member of the Law Review and the Exoneration Project, and where he argued a case in federal court.  Since passing the bar in 2014, Will has argued cases before courts all over the Commonwealth of Virginia as well as before the federal court in the Eastern District of Virginia and the Superior Court for the District of Columbia.  He lives in Herndon with his wife and two sons.</p>

			<h4>Professional Activities</h4>
			<ul>
				<li>District of Columbia Bar</li>
				<li>Virginia State Bar</li>
			</ul>

			<h4>Education</h4>
			<ul>
                <li>George Mason University, Bachelor of Science in Psychology, 2008</li>
				<li>University of Chicago Law School, Juris Doctor, 2014</li>
			</ul>

			<h4>Areas of Practice</h4>
			<ul>
				<li>Construction Law</li>
				<li>Construction Defects</li>
				<li>Building Code Violations</li>
				<li>Defective Design</li>
				<li>Criminal Defense</li>
				<li>Traffic Violations</li>
			</ul>

			<h4>Bar & Court Admissions</h4>
			<ul>
				<li>Virginia, 2014</li>
			    <li>District of Columbia, 2014</li>
			</ul>
		</div>
	</div>
{% endblock %}