{% extends "base.html" %}

{% block content %}
    <div class="pimg3" data-parallax="scroll" data-image-src="{{ url_for('static', filename='dcpanorama2.jpg') }}">
        <div class="parallax-flex-container d-flex flex-column" >
            <div class="page-header-text">Firm Overview</div>
        </div>
    </div>

    <div class="section1">
        <div class="flex-row">
            <div class="container-left">
                <h1 class="animate-left">Firm Philosophy</h1>
                <hr>
                <p style="text-align: left">This trial practice is founded on the premise that known superior courtroom performance is the greatest facilitator of pretrial resolution. The firm prides itself on its courtroom reputation and specializes in matters that are trial bound. The firm is committed to assuring that our clients are satisfied. We believe that aggressive preparation is essential to ensure that each client's expectations and objectives are met, whether we are prosecuting or defending. <br><br> Wise Law Firm PLC is founded on traditional values. We practice with a commitment to the ideas of dignity, uncompromised ethics, and fairness, while giving our client's interests and well-being our top priority. We are dedicated to providing the highest quality service on a personal, timely, and cost-effective basis</p>
            </div>
            <div class="container-right">
                <img style="width: 100%;
    min-width: 490px;
    position: relative;
    max-width: 650px;" src="{{ url_for('static', filename='courtroom.jpg') }}" alt="courtroom">
            </div>
        </div>
    </div>

<div class="section section-dark">
	<div class="page-container">	
		<div class="flex-row">
			<span class = "aof-grid col-4">
				<div class="flex-row">
					<div class="aof-card">
						<img src="{{ url_for('static', filename='class-action.png') }}">
					</div>
					<div class="aof-card">
						<img src="{{ url_for('static', filename='construction-law.png') }}">
					</div>
					<div class="aof-card">
						<img src="{{ url_for('static', filename='construction-lit.png') }}">
					</div>		
				</div>
				<div class="flex-row">
					<div class="aof-card">
						<img src="{{ url_for('static', filename='wrongful-death.png') }}">
					</div>
					<div class="aof-card">
						<img src="{{ url_for('static', filename='commercial-lit.png') }}">
					</div>
					<div class="aof-card">
						<img src="{{ url_for('static', filename='class-action.png') }}">
					</div>
				</div>
				<div class="flex-row">
					<div class="aof-card">
						<img src="{{ url_for('static', filename='construction-law.png') }}">
					</div>
					<div class="aof-card">
						<img src="{{ url_for('static', filename='construction-lit.png') }}">
					</div>
					<div class="aof-card">
						<img src="{{ url_for('static', filename='wrongful-death.png') }}">
					</div>
				</div>
			</span>
			<span class="inner-section col-7 align-self-end" style="padding-right: 0" data-editable data-name="aof">
				<!-- editable aof -->
				<h1 class="animate-right"> Our Areas of Focus </h1>
				<hr>
				<p  style="text-align: left">Our firm has nine attorneys, a legal support team, and administrative staff. We focus our practice exclusively on Construction Law, Construction Litigation, Construction Defect Litigation, Wrongful Death and Personal Injury Litigation, Commercial and Business Litigation, Mold and Environmental Litigation, Government Contracts, Insurance Coverage, and Class Actions. We represent clients before state and federal courts along with local, state, and federal agencies throughout Virginia, Maryland, the District of Columbia, and across the United States.</p>
				<!-- endeditable aof -->
			</span>
		</div>
	</div>
</div>
<div class="section section3">
	<div class="page-container">
		<div class="flex-row">	
			<span class="inner-section col-7" data-editable data-name="legal-services">
				<!-- editable legal-services -->
				<h1 class="animate-left2"> Client-Focused Legal Services</h1>
				<hr>
				<p  style="text-align: left">
				The firm is committed to providing the kind of responsiveness and attention to detail which is necessary to assure consistent quality, effectiveness, and economy. To fulfill this commitment and to best serve our clients, we have merged the expertise and real world experience of our trial attorneys with today’s computer technology. We focus on practical solutions rather than on unlikely legal scenarios. Our clients range from individuals with personal legal issues to large companies, and all those clients value our practical, cost-effective, legal advice and services. In the area of client-attorney communications, our clients appreciate the client focus and priority they find at Wise Law Firm PLC.</p>
				<!-- endeditable legal-services -->
			</span>
			<span class ="col-5" style="padding-left: 20px; padding-right: 0px">
				<img style="width: 100%; min-width: 200px; position: relative; top: 17%" src="{{ url_for('static', filename='legal-services.jpg') }}"">
			</span>
		</div>
	</div>
</div>
{% endblock %}

		
		