{% extends "base.html" %}
{% block title %}Firm Overview{% endblock %}
{% block content %}
    <div class="pimg3" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/dcpanorama2.jpg') }}">
        <div class="parallax-flex-container d-flex flex-column">
            <h1 class="page-header-text">Firm Overview</h1>
        </div>
        </div>
    <div id="firmOverview" class="page-container">
        <section id="firmPhilosophy" class="section1">
            <div class="flex-row">
                <div class="col-12 col-xl-6 flex-column-j-center">
                    <h2 class="animate-left">Firm Philosophy</h2>
                    <hr>
                    <p class="inner-section">This trial practice is founded on the premise that known superior courtroom
                        performance is the greatest facilitator of pretrial resolution. The firm prides itself on its
                        courtroom reputation and specializes in matters that are trial bound. The firm is committed to
                        assuring that our clients are satisfied. We believe that aggressive preparation is essential to
                        ensure that each client's expectations and objectives are met, whether we are prosecuting or
                        defending.</p>
                    <p class="inner-section">Wise Law Firm PLC is founded on traditional values. We practice with a
                        commitment to the ideas of dignity, uncompromised ethics, and fairness. Our client's
                        interests and well-being is our top priority. We are dedicated to providing the highest quality
                        service on a personal, timely, and cost-effective basis</p>
                </div>
                <div class="col-12 col-xl-6 .picture-holder">
                    <img src="{{ url_for('static', filename='images/courtroom.jpg') }}" alt="courtroom">
                </div>
            </div>
        </section>
        <section id="aofSection" class="section section-dark">
            <div class="flex-row large-display-only">
                <div id="aofGrid" class="aof-grid col-12 col-md-6">
                    <div class="flex-row">
                        {% for pa in practice_areas[0:3] %}
                            <button class="aof-card" id="{{ to_camel_case(pa.name) }}" data-title="{{ pa.name }}"
                                    data-description="{{ pa.description }}">
                                <img src="{{ pa.icon_url }}" alt="{{ pa.name }} icon">
                            </button>
                        {% endfor %}
                    </div>
                    <div class="flex-row">
                        {% for pa in practice_areas[3:6] %}
                            <button class="aof-card" id="{{ to_camel_case(pa.name) }}" data-title="{{ pa.name }}"
                                    data-description="{{ pa.description }}">
                                <img src="{{ pa.icon_url }}" alt="{{ pa.name }} icon">
                            </button>
                        {% endfor %}
                    </div>
                    <div class="flex-row">
                        {% for pa in practice_areas[6:9] %}
                            <button class="aof-card" id="{{ to_camel_case(pa.name) }}" data-title="{{ pa.name }}"
                                    data-description="{{ pa.description }}">
                                <img src="{{ pa.icon_url }}" alt="{{ pa.name }} icon">
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <div id="aofRight" class="col-12 col-md-6">
                    <h2> Our Areas of Focus </h2>
                    <hr>
                    <p class="inner-section">Our firm has nine attorneys, a legal support team, and administrative
                        staff. We focus our practice on Construction Law, Construction Defect Litigation, Wrongful Death
                        and Personal Injury Litigation, Commercial and Business Litigation, Mold and Environmental Litigation,
                        Insurance Coverage, and Class Actions. We represent clients before state and federal courts along
                        with local, state, and federal agencies throughout Virginia, Maryland, the District of Columbia,
                        and across the United States.</p>
                </div>
                <div id="aofDetail">
                    <button class="img-container">
                        <img src="" alt="practice area icon">
                    </button>
                    <div class="content">
                        <h3 class="title">Placeholder Title</h3>
                        <div class="description">Placeholder Description</div>
                    </div>
                </div>
            </div>
            <div class="small-display-only">
                <div class="flex-column-center col-12">
                    <h2> Our Areas of Focus </h2>
                    <hr>
                    <p class="inner-section">Our firm has nine attorneys, a legal support team, and administrative
                        staff. We focus our practice on Construction Law, Construction Defect Litigation, Wrongful Death
                        and Personal Injury Litigation, Commercial and Business Litigation, Mold and Environmental Litigation,
                        Insurance Coverage, and Class Actions. We represent clients before state and federal courts along
                        with local, state, and federal agencies throughout Virginia, Maryland, the District of Columbia,
                        and across the United States.</p>
                    <div id="mobilePracticeAreas">
                        <div class="carousel-3d-scene">
                            <div id="carousel-root" class="carousel-3d">
                                {% for pa in practice_areas %}
                                    <button class="practice-area" id="{{ to_camel_case(pa.name) }}" data-title="{{ pa.name }}"
                                            data-description="{{ pa.description }}">
                                        <img src="{{ pa.icon_url }}" alt="{{ pa.name }} icon">
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="paContent"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section3">
            <div class="flex-row">
                <div class="col-12 col-xl-6">
                    <h1 class="animate-left2">Client-Focused Legal Services</h1>
                    <hr>
                    <p class="inner-section">The firm is committed to providing the kind of responsiveness and attention
                        to detail which is necessary to assure consistent quality, effectiveness, and economy. To fulfill
                        this commitment and to best serve our clients, we have merged the expertise and real world experience
                        of our trial attorneys with today’s computer technology. We focus on practical solutions rather
                        than on unlikely legal scenarios. Our clients range from individuals with personal legal issues to large
                        companies, and all those clients value our practical, cost-effective, legal advice and services.
                        In the area of client-attorney communications, our clients appreciate the client focus and priority
                        they find at Wise Law Firm PLC.</p>
                </div>
                <div class="col-12 col-xl-6">
                    <img src="{{ url_for('static', filename='images/legal-services.jpg') }}"
                         alt="legal-services picture">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/carousel3D.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cardGridReveal.js') }}"></script>
    <script>

        var practiceAreaCarousel;
        document.addEventListener("DOMContentLoaded", () => {
            // Register plugins to use additional gsap libraries
            gsap.registerPlugin(Flip, ScrollTrigger);
            // Initialize card reveal interactivity
            initializeCardReveal();
            // Initialize carousel for small displays
            if (window.innerWidth < 800){
                let radius = 100 + window.innerWidth / 5;
                practiceAreaCarousel = new carousel3d('carousel-root', 'paContent', radius);
            }
        });
        window.addEventListener('resize', () => {
            if (window.innerWidth < 800){
                let radius = 100 + window.innerWidth / 5;
                if (practiceAreaCarousel) { practiceAreaCarousel.updateSize(radius); }
                else { practiceAreaCarousel = new carousel3d('carousel-root', 'paContent', radius, false); }
            } else {
                initializeCardReveal();
            }
        });

    </script>
{% endblock %}
