{% extends "base.html" %}
{% block title %}Firm Overview{% endblock %}
{% block content %}
    <div class="pimg3" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/dcpanorama2.jpg') }}">
        <div class="parallax-flex-container d-flex flex-column">
            <h1 class="page-header-text">Firm Overview</h1>
        </div>
        </div>
    <div id="firmOverview" class="page-container">
        <section id="firmPhilosophy" class="section1">
            <div class="flex-row">
                <div class="col-12 col-xl-6 flex-column-j-center">
                    <h2 class="animate-left">Firm Philosophy</h2>
                    <hr>
                    <p class="inner-section">This trial practice is founded on the premise that known superior courtroom
                        performance is the greatest facilitator of pretrial resolution. The firm prides itself on its
                        courtroom reputation and specializes in matters that are trial bound. The firm is committed to
                        assuring that our clients are satisfied. We believe that aggressive preparation is essential to
                        ensure that each client's expectations and objectives are met, whether we are prosecuting or
                        defending.</p>
                    <p class="inner-section">Wise Law Firm PLC is founded on traditional values. We practice with a
                        commitment to the ideas of dignity, uncompromised ethics, and fairness. Our client's
                        interests and well-being is our top priority. We are dedicated to providing the highest quality
                        service on a personal, timely, and cost-effective basis</p>
                </div>
                <div class="col-12 col-xl-6 .picture-holder">
                    <img src="{{ url_for('static', filename='images/courtroom.jpg') }}" alt="courtroom">
                </div>
            </div>
        </section>
        <section id="aofSection" class="section section-dark">
            <div class="flex-row">
                <div id="aofGrid" class="aof-grid col-12 col-md-6">
                    <div class="flex-row">
                        <button class="aof-card" id="classAction">
                            <img src="{{ url_for('static', filename='images/class-action.png') }}" alt="class action icon">
                        </button>
                        <button class="aof-card" id="constructionLaw">
                            <img src="{{ url_for('static', filename='images/construction-law.png') }}" alt="construction law icon">
                        </button>
                        <button class="aof-card" id="constructionLit">
                            <img src="{{ url_for('static', filename='images/construction-lit.png') }}" alt="construction litigation icon">
                        </button>
                    </div>
                    <div class="flex-row">
                        <button class="aof-card" id="constructionDefect">
                            <img src="{{ url_for('static', filename='images/defects.png') }}" alt="construction defect icon">
                        </button>
                        <button class="aof-card" id="wrongfulDeath">
                            <img src="{{ url_for('static', filename='images/wrongful-death.png') }}" alt="wrongful death icon">
                        </button>
                        <button class="aof-card" id="commercialLit">
                            <img src="{{ url_for('static', filename='images/commercial-lit.png') }}" alt="commercial litigation icon">
                        </button>
                    </div>
                    <div class="flex-row">
                        <button class="aof-card" id="moldLit">
                            <img src="{{ url_for('static', filename='images/mold.png') }}" alt="mold and environmental litigation icon">
                        </button>
                        <button class="aof-card" id="governmentContracts">
                            <img src="{{ url_for('static', filename='images/government.png') }}" alt="government contracts icon">
                        </button>
                        <button class="aof-card" id="insuranceCoverage">
                            <img src="{{ url_for('static', filename='images/insurance.png') }}" alt="insurance coverage icon">
                        </button>
                    </div>
                </div>
                <div id="aofRight" class="col-12 col-md-6">
                    <h2 class="animate-right"> Our Areas of Focus </h2>
                    <hr>
                    <p class="inner-section">Our firm has nine attorneys, a legal support team, and administrative
                        staff. We focus our practice on Construction Law, Construction Litigation,
                        Construction Defect Litigation, Wrongful Death and Personal Injury Litigation, Commercial and
                        Business Litigation, Mold and Environmental Litigation, Government Contracts, Insurance Coverage,
                        and Class Actions. We represent clients before state and federal courts along with local, state,
                        and federal agencies throughout Virginia, Maryland, the District of Columbia, and across the
                        United States.</p>
                </div>
                <div id="aofDetail">
                    <button class="img-container">
                        <img />
                    </button>
                    <div class="content">
                        <h3 class="title">Placeholder Title</h3>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi aut consequatur deserunt eum, harum illum magnam maiores minima, nobis possimus quam quod repellendus sed sequi sit veritatis, vero?</div>
                    </div>
                </div>
                <div id="aofDetailContainer">
                    <h2 id="aofDetailTitle"></h2>
                    <p id='aofDetailDescription' class="inner-section"></p>
                </div>
            </div>
        </section>
        <section class="section section3">
            <div class="flex-row">
                <div class="col-12 col-xl-6">
                    <h1 class="animate-left2">Client-Focused Legal Services</h1>
                    <hr>
                    <p class="inner-section">The firm is committed to providing the kind of responsiveness and attention
                        to detail which is necessary to assure consistent quality, effectiveness, and economy. To fulfill
                        this commitment and to best serve our clients, we have merged the expertise and real world experience
                        of our trial attorneys with today’s computer technology. We focus on practical solutions rather
                        than on unlikely legal scenarios. Our clients range from individuals with personal legal issues to large
                        companies, and all those clients value our practical, cost-effective, legal advice and services.
                        In the area of client-attorney communications, our clients appreciate the client focus and priority
                        they find at Wise Law Firm PLC.</p>
                </div>
                <div class="col-12 col-xl-6">
                    <img src="{{ url_for('static', filename='images/legal-services.jpg') }}"
                         alt="legal-services picture">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        {#import Flip from "../../../../Downloads/gsap-public/gsap-public/esm/Flip";
        import ScrollTrigger from "../../../../Downloads/gsap-public/gsap-public/esm/ScrollTrigger";
        import {ExpoScaleEase} from "../../../../Downloads/gsap-public/gsap-public/esm/EasePack";
        import gsap from "../../../../Downloads/gsap-public/gsap-public/esm/gsap-core";#}

        document.addEventListener("DOMContentLoaded", () => {
            // Register plugins to use additional gsap libraries
            gsap.registerPlugin(Flip, ScrollTrigger, ExpoScaleEase);

            {#   Using the gsap.utils.toArray method allows me to use the forEach function to handle for loops.
            The Array prototype is easier to work with than the HTMLCollection prototype that is returned by
            getElementsByClassName()    #}
            const aofCards = gsap.utils.toArray('.aof-card');

            const aofSection = document.getElementById('aofSection');
            const aofGrid = document.getElementById('aofGrid');
            const overviewContainer = document.getElementById('aofRight');
            const aofContainer = document.getElementById('aofDetail');
            const aofIcon = document.querySelector('#aofDetail img');
            const aofContent = document.querySelector('#aofDetail .content');
            const contentTitle = document.querySelector('#aofDetail .title');
            const contentDescription = document.querySelector('#aofDetail .description');
            let activeCard;

            aofCards.forEach(aofCard => {
                let hover = gsap.to(aofCard, {scale:1.1, duration:0.3, paused:true, ease:'power3.inOut'});
                aofCard.addEventListener('mouseenter', () => {
                    hover.play();
                });
                aofCard.addEventListener('mouseleave', () => {
                    hover.reverse();
                });
                aofCard.addEventListener('click', () => {
                    selectAof(aofCard);
                })
            });

            function selectAof(aofCard) {
                const aofId = aofCard.id;
                let aofTitle, aofDescription;
                switch (aofId){
                    case 'classAction':
                        aofTitle = 'Class Action';
                        aofDescription = 'When a collective group of individuals have been wronged or harmed, class ' +
                            'action lawsuits allow for the entire party to come together and seek compensation. This can ' +
                            'be beneficial in cases where no one person has enough economic incentive to bring suit on ' +
                            'his or her own.'
                        break;
                    case 'constructionLaw':
                        aofTitle = 'Construction Law';
                        break;
                    case 'constructionLit':
                        aofTitle = "Construction Litigation"
                        break;
                    case 'constructionDefect':
                        aofTitle = "Construction Defects"
                        break;
                    case 'wrongfulDeath':
                        aofTitle = "Wrongful Death and Personal Injury Litigation"
                        break;
                    case 'commercialLit':
                        aofTitle = "Commercial and Business Litigation"
                        break;
                    case 'moldLit':
                        aofTitle = "Mold and Environmental Litigation"
                        break;
                    case 'governmentContracts':
                        aofTitle = "Government Contracts"
                        break;
                    case 'insuranceCoverage':
                        aofTitle = "Insurance Coverage"
                        break;
                    default:
                        aofTitle = "Area of Focus Title"
                }
                contentTitle.innerHTML = aofTitle;
                contentDescription.innerHTML = aofDescription;
                console.log({aofId: aofId, aofTitle:aofTitle});
                if (window.innerWidth >= 768){
                    if (activeCard) {
                        // In case someone clicks on a card behind an already active modal, close the modal
                        return hideModal();
                    }
                    let onLoad = () => {
                        gsap.set(aofCard, {autoAlpha: 0});  // hides the original card
                        aofContainer.querySelector('.img-container').focus({focusVisible: true});
                        console.log({activeElement: document.activeElement});
                        // Step 1: aofContainer
                        Flip.fit(aofContainer, aofCard, {scale: true, fitChild: aofIcon});
                        gsap.set(aofContent, {xPercent: -100});
                        //Flip.fit(aofContent, aofIcon, {scale: true});
                        const cardState = Flip.getState([aofContainer], {props: 'aspectRatio'});
                        // set the final properties and animate
                        gsap.set(aofContainer, {clearProps: true});
                        gsap.set(aofContainer, {xPercent: -50, yPercent: -50, left: "50%", top: "50%", autoAlpha: 1});  // centers the container
                        Flip.from(cardState, {
                            duration: 0.7,
                            ease: 'power3.inOut',
                            scale: true
                        });
                        // aofContent
                        const contentState = Flip.getState(aofContent);
                        gsap.set(aofContent, {clearProps: true});
                        Flip.from(contentState, {
                            duration: 0.7,
                            ease: 'power3.out',
                            delay: 0.3,
                        });
                        aofIcon.removeEventListener('load', onLoad);
                        document.addEventListener('click', hideModal);
                        activeCard = aofCard;
                    }
                    const icon = aofCard.querySelector('img');
                    {#  These two lines are needed for onLoad to run. Without the second line, the 'load'
                        event is never triggered #}
                    aofIcon.addEventListener('load', onLoad);
                    aofIcon.src = icon.src;

                    gsap.to(aofCards, {
                        x: -200, autoAlpha: 0, duration: 0.5, ease: 'expo.out',
                        stagger: {
                            amount: 0.2,
                            from: aofCards.indexOf(aofCard)
                        }
                    }).kill(aofCard, 'x');      // this prevents the original card from moving
                    //gsap.to(overviewContainer, {xPercent: 50, autoAlpha: 0, duration: 0.5, ease: 'expo.out'});
                }
                else {
                    // The window.innerWidth is < 768px
                    Flip.fit(aofContent, overviewContainer);
                    gsap.fromTo(aofContent, {xPercent:-50, autoAlpha:0},
                        {xPercent:0, autoAlpha:1, duration:0.5, ease:'expo.out'});

                }
                gsap.to(overviewContainer, {xPercent: 50, autoAlpha: 0, duration: 0.5, ease: 'expo.out'});
            }

            function hideModal() {
                document.removeEventListener('click', hideModal);
                let inactiveCards = [...aofCards];
                inactiveCards.splice(aofCards.indexOf(activeCard), 1);   // inactiveCards doesn't contain activeCard
                const t1 = gsap.timeline({defaults: {ease: 'power3.out'}});
                t1.to(aofContent, {xPercent: -100, duration:0.4})
                    .add(Flip.fit(aofContainer, activeCard, {scale: true, fitChild: aofIcon, autoAlpha:0.7, duration:0.5, ease:'power3.out'}))
                    .set(aofContainer, {autoAlpha: 0})
                    .to(inactiveCards, {x:0, autoAlpha:0.7, duration:0.5}, '-=0.5')
                    .set(activeCard, {autoAlpha:0.7})
                    .to(overviewContainer, {xPercent:0, autoAlpha: 1, duration:0.5, ease:'power3.out' }, '-=0.5' );
                activeCard = null;

                // re-add the following to the Flip.from(aofContainerState) , onInterrupt: () => t1.kill()
            }
        });


    </script>
{% endblock %}
