{% extends "base.html" %}
{% block title %}Government Contracts{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static', filename='contract.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h2 class="page-header-text">Government Contracts</h2>
		</div>
	</div>

	<div class="page-container employee-section section1 d-flex flex-column" data-editable data-name="contracts">
		<!-- editable contracts -->
		<p class="animate-right">
			Coming Soon!
		</p>
		<!-- endeditable contracts -->
	</div>
{% endblock %}