{% extends "base.html" %}

{% block content %}
	<!--<div class="intro"></div>
	<div class="slider"></div>-->

	<main>
		<!-- Picture below navbar-->
		<div class="pimg1" data-parallax="scroll" data-image-src="{{ url_for('static', filename='banner1.jpg') }}">
			<div class="ptext">
				<div data-editable data-name="parallax-section-1">
					<!-- editable parallax-section-1 -->
					<h1 class="white-text-large">
						Responsive. Experienced. Dedicated.</h1>
					<h2 class="white-text">
						Construction Law Attorneys Serving Fairfax, Virginia</h2>
					<!-- endeditable parallax-section-1 -->
				</div>
			</div>
		</div>

		<section class="section section-light" data-editable data-name="banner-1">
			<!-- editable banner-1 -->
			<h2>

    More Than 100 Years Combined Experience

</h2>

<h5>

    Fighting for justice. Committed to victory.

</h5>
			<!-- endeditable banner-1 -->
		</section>


		<div class="pimg2" data-parallax="scroll" data-image-src="{{ url_for('static', filename='construction-sunset2.jpg') }}">
		</div>

		<section class="section section-dark">
			<div class="firm-overview">
				<div class="row">
					<div class="col-6 text-center">
						<h2 class="gold animate-right"> Firm Overview</h2>
						<div data-editable data-name="firm-overview">
							<!-- editable firm-overview -->
							<p class="inner-section" style="text-align: left">

    At Wise Law Firm PLC, we believe that attentive, well-prepared representation is key to resolving disputes efficiently. Located in Fairfax, we have served clients throughout Virginia and across the nation since 1989, and we are proud to bring 100 combined years of experience in business law and construction law to protecting your company's interests. <br> Our attorneys have litigated extensively before state and federal courts and have the industry knowledge and legal background to effectively prosecute or defend cases arising from contract disputes and related construction issues. In addition, we represent people seeking compensation for injuries sustained in an auto accident or other incident. No matter how complex your matter is, we maintain our commitment to helping you fulfill your objectives.

</p>

<a class="btn btn-outline-gold" href="/firm-overview" role="button">Read More</a>
							<!-- endeditable firm-overview -->
						</div>
					</div>
					<div class="col-6">
						<img class="office-image animate-up-wr" src= "{{ url_for('static', filename='office.jpg') }}" alt="office picture">
					</div>
				</div>
			</div>
		</section>

		<div class="container-fluid banner-2">
		<h2 class="center animate-left">Practice Areas </h2><hr>
		<section class="p-a-cards">
			<a class="p-a-card" href="/class-actions">
				<div class="p-a-card-image"><img src="{{ url_for('static', filename='class-action.png') }}" alt="class actions" height = "100" width = "100"></div>
				<div class="p-a-card-title ">Class Actions</div>
			</a>
			<a class="p-a-card" href="/construction-law">
				<div class="p-a-card-image"><img src="{{ url_for('static', filename='construction-law.png') }}" alt="construction law" height = "100" width = "100"></div>
				<div class="p-a-card-title ">Constuction Law</div>
			</a>
			<a class="p-a-card" href="/construction-litigation">
				<div class="p-a-card-image"><img src="{{ url_for('static', filename='construction-lit.png') }}" alt="construction litigation" height = "100" width = "100"></div>
				<div class="p-a-card-title">Construction Litigation</div>
			</a>
			<a class="p-a-card" href="/wrongful-death">
				<div class="p-a-card-image"><img src="{{ url_for('static', filename='wrongful-death.png') }}" alt="construction wrongful death and personal injury" height = "100" width = "100"></div>
				<div class="p-a-card-title">Wrongful Death and Personal Litigation</div>
			</a>
			<a class="p-a-card" href="/commercial-and-business">
				<div class="p-a-card-image"><img src="{{ url_for('static', filename='commercial-lit.png') }}" alt="commercial and business litigation" height = "100" width = "100"></div>
				<div class="p-a-card-title">Commercial and Business Litigation</div>
			</a>
		</section>
		</div>



		<div id="carouselExampleIndicators2" class="carousel slide carousel-container" data-ride="carousel" style="background-color: grey">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="carousel-slide-rw">
					<div class="carousel-caption" data-editable data-name="carousel-1">
						<!-- editable carousel-1 -->
						<h5 class="car-text-large">
							Wise Law Firm Reno office brings class action lawsuit in Nevada Federal Court against Real Water</h5>
						<p class="car-text-sm">
							Wise Law Firm is representing the class of consumers who purchased Real Water bottled water in Nevada since Jan. 27, 1998.  The lawsuit asserts claims for fraud, breach of express warranty, breach of implied warranty of merchantability and unjust enrichment. If you got sick after purchasing a bottle of Real Water in Nevada,
							click <a href="/contact-us">here</a> so that we may get you the compensation you deserve. </p>
						<!-- endeditable carousel-1 -->
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-slide-of">
					<div class="carousel-caption" data-editable data-name="carousel-2">
						<!-- editable carousel-2 -->
						<h5 class="car-text-large">
							Residents of The One Five Condominiums hire Wise Law Firm in a class action lawsuit. </h5>
						<p class="car-text-sm">
							Compensation is being sought for damages caused by mold in the brand new upscale building. </p>
						<!-- endeditable carousel-2 -->
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-slide-mm">
					<div class="carousel-caption" data-editable data-name="carousel-2">
						<!-- editable carousel-2 -->
						<h5 class="car-text-large">
							Wise Law Firm Represents Military Families Facing Slumlord Conditions Aboard Camp Lejeune</h5>
						<p class="car-text-sm">
							Following Hurricane Florence, Marine Corps Base Camp Lejeune Families of every rank face a litany of problems ranging from toxic mold strains, water intrusion, and pest infestations.</p>
						<!-- endeditable carousel-2 -->
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
	</main>
{% endblock %}