<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Wise Law Firm PLC</title>
    	<!-- Bootstrap -->
		<link href="css/bootstrap-4.4.1.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet" type="text/css">
	</head>
	
	
	<body style="padding-bottom: 70px">
		<!-- body code goes here -->
	
		
		<header>
			
			<div class="header-logo"><img src="images/SVG/header-logo.svg" alt=""/> </div>
			<!-- Nav Bar -->
			<div class="navbar nav-pills" data-toggle="affix">
				
				<ul class="nav">
						<li class="nav-item"> <a class="nav-link selected" href="#">Home</a> </li>
						<li class="nav-item"> <a href="#" class="nav-link">Firm Overview</a> </li>
						<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Team</a>
						<div class="dropdown-menu"> 
							<a class="dropdown-item nav-item" href="#">David Wise</a> 
							<a class="dropdown-item nav-item" href="#">Joe Langone</a> 
							<a class="dropdown-item nav-item" href="#">Patrick Donahue</a>
							<a class="dropdown-item nav-item" href="#">David Reese</a> 
						</div>
						</li>
						<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Practice Areas</a>
						<div class="dropdown-menu"> 
							<a class="dropdown-item nav-item" href="#">Class Actions</a> 
							<a class="dropdown-item nav-item" href="#">Construction Law</a> 
							<a class="dropdown-item nav-item" href="#">Construction Litigation</a>
							<a class="dropdown-item nav-item" href="#">Construction Defect Litigation</a>
							<a class="dropdown-item nav-item" href="#">Wrongful Death and Personal Injury Litigation</a>
							<a class="dropdown-item nav-item" href="#">Commercial and Business Litigation</a>
							<a class="dropdown-item nav-item" href="#">Mold and Environmental Litigation</a>
							<a class="dropdown-item nav-item" href="#">Government Contracts</a>
							<a class="dropdown-item nav-item" href="#">Insurance Coverage</a>
						</div>
						</li>
						<li class="nav-item"> <a class="nav-link" href="#">Reviews</a> </li>
						<li class="nav-item"> <a class="nav-link" href="#">News & Articles</a> </li>
						<li class="nav-item"> <a class="nav-link" href="#">Careers</a> </li>
						<li class="nav-item"> <a class="nav-link" href="#">Maps & Directions</a> </li>
						<li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
				</ul>
			</div>
			
		</header>
		
		<!-- Picure below navbar-->
			
		<div class="pimg1" data-parallax="scroll" data-image-src="images/banner1.jpg">
			<div class="ptext">
				<span class="border">
					<div class="white-text-large">Responsive. Experienced. Dedicated.</div>
					<div class="white-text">Construction Law Attorneys Serving Fairfax, Virginia</div>
				</span>
			</div>		
		</div>

		<section class="section section-light">
			<h2> More Than 100 Years Combined Experience</h2>		
			<p>
				Fighting for justice. Committed to victory.
			</p>
		</section>

		<div class="pimg2" data-parallax="scroll" data-image-src="images/banner2.jpg">
			<div class="ptext">
				<span class="border">
					<div class="white-text-large">Image 2 Text </div>
				</span>
			</div>		
		</div>

		<section class="section section-dark">
			<div class="row">
				<div class="col-6" id="FirmOverview">	
					<h2 style="text-align: center"> Firm Overview</h2>
					<p>
						At Wise Law Firm PLC, we believe that attentive, well-prepared representation is key to resolving disputes efficiently. Located in Fairfax, we have served clients throughout Virginia and across the nation since 1989, and we are proud to bring 50 combined years of experience in business law and construction law to protecting your company’s interests. Our attorneys have litigated extensively before state and federal courts and have the industry knowledge and legal background to effectively prosecute or defend cases arising from contract disputes and related construction issues. In addition, we represent people seeking compensation for injuries sustained in an auto accident or other incident. No matter how complex your matter is, we maintain our commitment to helping you fulfill your objectives.
					</p>
				</div>
				<div class="col-6">
					<img class="office-image" src= "images/office.jpg" alt="office picture">
				</div>
			</div>	
		</section>


		<div class="container-fluid banner-2">
			<div class="container banner-text-black-large">PRACTICE AREAS <hr></div>
			<section class="p-a-cards">
				<a class="p-a-card" href="#">
					<div class="p-a-card-image"><img src="images/icons/class-action.png" alt="class actions" height = "100" width = "100"></div>
					<div class="p-a-card-title ">CLASS ACTIONS</div>
				</a>
				<a class="p-a-card" href="#">
					<div class="p-a-card-image"><img src="images/icons/construction-law.png" alt="construction law" height = "100" width = "100"></div>
					<div class="p-a-card-title ">CONSTRUCTION LAW</div>
				</a>
				<a class="p-a-card" href="#">
					<div class="p-a-card-image"><img src="images/icons/construction-lit.png" alt="construction litigation" height = "100" width = "100"></div>
					<div class="p-a-card-title">CONSTRUCTION LITIGATION</div>
				</a>
				<a class="p-a-card" href="#">
					<div class="p-a-card-image"><img src="images/icons/wrongful-death.png" alt="construction wrongful death and personal injury" height = "100" width = "100"></div>
					<div class="p-a-card-title">WRONGFUL DEATH AND PERSONAL LITIGATION</div>
				</a>
				<a class="p-a-card" href="#">
					<div class="p-a-card-image"><img src="images/icons/commercial-lit.png" alt="commercial and business litigation" height = "100" width = "100"></div>
					<div class="p-a-card-title">COMMERCIAL AND BUSINESS LITIGATION</div>
				</a>
			</section>
		</div>



		<div id="carouselExampleIndicators2" class="carousel slide carousel-container" data-ride="carousel" style="background-color: grey">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active"> 
					<div class="carousel-slide-rw">
						<div class="carousel-caption ">
							<h5 class="car-text-large">Wise Law Firm Reno office brings class action lawsuit in Nevada Federal Court against Real Water</h5>
							<p class="car-text-sm">Wise Law Firm is representing the class of consumers who purchased Real Water bottled water in Nevada since Jan. 27, 1998.  The lawsuit asserts claims for fraud, breach of express warranty, breach of implied warranty of merchantability and unjust enrichment. If you got sick after purchasing a bottle of Real Water in Nevada, click here so that we may get you the compensation you deserve. </p>
						</div>
					</div>
				</div>
				<div class="carousel-item carousel-slide"> 
					<div class="carousel-slide-mm">
						<div class="carousel-caption">
							<h5 class="car-text-large">Wise Law Firm Represents Military Families Facing Slumlord Conditions Aboard Camp Lejeune</h5>
							<p class="car-text-sm">Following Hurricane Florence, Marine Corps Base Camp Lejeune Families of every rank face a litany of problems ranging from toxic mold strains, water intrusion, and pest infestations.</p>
						</div>
					</div>
					
				</div>

			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>

		<div class="footer">
			<div class="row">
				<div class="col-lg-4">
					<h2 class="fnav-header">Locations</h2>
					<div class="loc-container">

						<div id="accordion1" role="tablist">
							<div class="card">
								<div class="card-header" role="tab" id="headingOne1">
									<h5 class="mb-0"> <a class="fnav-link" data-toggle="collapse" href="#collapseOne1" role="button" aria-expanded="true" aria-controls="collapseOne1"> Fairfax, Virginia </a> </h5>
								</div>
								<div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordion1">
									<div class="card-body">
										<h4 class="loc-text">Address</h4>
										<h6 class="loc-text2">
										10640 Page Avenue, Suite 320 <br> Fairfax, Virginia 22030</h6>
										<h4 class="loc-text">Phone</h4>
										<h6 class="loc-text2">
										703-934-6377</h6>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" role="tab" id="headingTwo1">
									<h5 class="mb-0"> <a class="fnav-link collapsed" data-toggle="collapse" href="#collapseTwo1" role="button" aria-expanded="false" aria-controls="collapseTwo1"> Reno, Nevada </a> </h5>
								</div>
								<div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordion1">
									<div class="card-body">
										<div class="card-body">
										<h4 class="loc-text">Address</h4>
										<h6 class="loc-text2">
										421 Court Street <br> Reno, Nevada 89501</h6>
										<h4 class="loc-text">Phone</h4>
										<h6 class="loc-text2">
										703-934-6377</h6>
									</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-4">
					<h2 class=" fnav-header">Quick Links</h2>
					<ul class="no-bullets">
						<li> <a href="#" class="fnav-link">Home </a></li>
						<li> <a href="#" class="fnav-link">Firm Overview </a></li>
						<li> <a href="#" class="fnav-link">Our Team </a></li>
						<li> <a href="#" class="fnav-link">Practice Areas </a></li>
						<li> <a href="#" class="fnav-link">News & Articles </a></li>
						<li> <a href="#" class="fnav-link">Maps & Directions </a></li>
						<li> <a href="#" class="fnav-link">Contact Us </a></li>
					</ul>

				</div>
				<div class="col-lg-4">
					<h2 class="fnav-header">Contact Us</h2>
				</div>
			</div>
		</div>

		
		
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="js/jquery-3.4.1.min.js"></script>
		
	<!-- For Parallax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
		
	<!-- For fixed navbar -->
	<script src="js/fixednav.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/popper.min.js"></script> 
  <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>