{% extends "base.html" %}

{% block content %}

    <!-- Picture below navbar-->
    <div class="pimg1" data-parallax="scroll" data-image-src="{{ url_for('static', filename='banner1.jpg') }}">
        <div class="ptext">
            <div data-editable data-name="parallax-section-1">
                <h1 class="white-text-large">
                    Responsive. Experienced. Dedicated.</h1>
                <h2 class="white-text">
                    Construction Law Attorneys</h2>
            </div>
        </div>
    </div>

    <section class="section section-light box-padding">
        <h2>More Than 100 Years Combined Experience</h2>
        <h5>Fighting for justice. Committed to victory.</h5>
    </section>

    <div class="pimg2" data-parallax="scroll"
         data-image-src="{{ url_for('static', filename='construction-sunset2.jpg') }}">
    </div>

    <section class="container-fluid section section-dark box-padding">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-center">
                <h2 class="gold animate-right"> Firm Overview</h2>
                <div data-editable data-name="firm-overview">
                    <!-- editable firm-overview -->
                    <p class="inner-section" style="text-align: left">
                        At Wise Law Firm PLC, we believe that attentive, well-prepared representation is key to
                        resolving disputes efficiently. Located in Fairfax, we have served clients throughout
                        Virginia and across the nation since 1989, and we are proud to bring 100 combined years of
                        experience in business law and construction law to protecting your company's interests. <br>
                        Our attorneys have litigated extensively before state and federal courts and have the
                        industry knowledge and legal background to effectively prosecute or defend cases arising
                        from contract disputes and related construction issues. In addition, we represent people
                        seeking compensation for injuries sustained in an auto accident or other incident. No matter
                        how complex your matter is, we maintain our commitment to helping you fulfill your
                        objectives.
                    </p>
                    <a class="btn btn-outline-gold" href="/firm-overview" role="button">Read More</a>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <img class="office-image animate-up-wr" src="{{ url_for('static', filename='office.jpg') }}"
                     alt="office picture">
            </div>
        </div>
    </section>

    <div class="container-fluid banner-2">
        <h2 class="center animate-left">Practice Areas </h2>
        <hr>
        <section class="p-a-cards">
            <a class="p-a-card" href="/class-actions">
                <div class="p-a-card-image"><img src="{{ url_for('static', filename='class-action.png') }}"
                                                 alt="class actions" height="100" width="100"></div>
                <div class="p-a-card-title ">Class Actions</div>
            </a>
            <a class="p-a-card" href="/construction-law">
                <div class="p-a-card-image"><img src="{{ url_for('static', filename='construction-law.png') }}"
                                                 alt="construction law" height="100" width="100"></div>
                <div class="p-a-card-title ">Construction Law</div>
            </a>
            <a class="p-a-card" href="/construction-litigation">
                <div class="p-a-card-image"><img src="{{ url_for('static', filename='construction-lit.png') }}"
                                                 alt="construction litigation" height="100" width="100"></div>
                <div class="p-a-card-title">Construction Litigation</div>
            </a>
            <a class="p-a-card" href="/wrongful-death">
                <div class="p-a-card-image"><img src="{{ url_for('static', filename='wrongful-death.png') }}"
                                                 alt="construction wrongful death and personal injury" height="100"
                                                 width="100"></div>
                <div class="p-a-card-title">Wrongful Death and Personal Litigation</div>
            </a>
            <a class="p-a-card" href="/commercial-and-business">
                <div class="p-a-card-image"><img src="{{ url_for('static', filename='commercial-lit.png') }}"
                                                 alt="commercial and business litigation" height="100" width="100">
                </div>
                <div class="p-a-card-title">Commercial and Business Litigation</div>
            </a>
        </section>
    </div>

    {#<section id="homeArticles" class="section-dark box-padding">
        #}{#This will be an abbreviated collection of the news & articles.#}{#

        #}{#<div class="flex-row">
            {% for article in articles %}
            <a href="{{ url_for('views.articles', id=article.id) }}">
                <div class="article-card">
                    <h4>{{ article.title }}</h4>
                </div>
            </a>
            {% endfor %}`
        </div>#}{#
    </section>#}
    <section class="section-dark section box-padding flex-column-center">
        <h2 class="gold animate-right" style="margin:20px 0 50px"> News & Articles</h2>
        <div class="swiper-container homeReviewsSwiper">
            <div class="swiper-wrapper">
                {% for article in articles %}
                    <div class="swiper-slide">
                        <a href="{{ url_for('views.articles', id=article.id) }}">
                            <h4>{{ article.title }}</h4></a>
                        <h6><b>Date Added: </b>{{ article.date }}</h6>
                        {% if article.url %}
                            <h6><b>URL: </b>{{ article.url }}</h6>
                            <p>{{ article.text }}</p>
                        {% endif %}
                    </div>
                {% endfor %}`
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev gold"></div>
        <div class="swiper-button-next gold"></div>
    </section>

{% endblock %}