{% extends "base.html" %}
{% block title %}Insurance Coverage{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static', filename='images/fire.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h1 class="page-header-text">Insurance Coverage</h1>
		</div>
	</div>

	<div class="page-container employee-section section1 d-flex flex-column" data-editable data-name="insurance">
		<!-- editable insurance -->
		<p class="animate-right">
			Coming Soon!
		</p>
		<!-- endeditable insurance -->
	</div>
{% endblock %}