{% macro help_dialog(message, alreadyVisible=False) %}
    <div class="dialog-container" id="help">
        <div id="dialogTrigger">?</div>
        <div id=helpContent class="dialog-content">
            {{ message }}
        </div>
    </div>
    {% if alreadyVisible %}
        <script>
        (function(){
           document.getElementById('help').style.visibility = 'visible';
           gsap.from( document.getElementById('help'), {opacity:0, duration:0.5});
        }())
        </script>
    {% else %}
        <script>
            const trigger = document.getElementById('dialogTrigger');
            trigger.addEventListener('click', (ev) => document.getElementsByClassName('dialog-container')[0].classList.add('active'));
        </script>
    {% endif %}
{% endmacro %}

{% macro admin_navbar(activeId="") %}
    <div id="adminNav">
        <div class="absolute-center-banner">Admin Portal</div>
        <div class="flex-align-center">
            <a id='employees' href="{{ url_for('views.manage_employees')}}" class="admin-nav-link">Manage Employees</a>
            <a id='practiceAreas' href="{{ url_for('views.manage_practice_areas')}}" class="admin-nav-link">Manage Practice Areas</a>
            <a id='reviews' href="{{ url_for('views.manage_reviews')}}" class="admin-nav-link">Manage Reviews</a>
            <a id='articles' href="{{ url_for('views.manage_articles', id=1)}}" class="admin-nav-link">Manage Articles</a>
            <a id='admins' href="{{ url_for('views.manage_admins')}}" class="admin-nav-link">Manage Admins</a>
            <a id='contact' href="{{  url_for('views.contact_submissions') }}" class="admin-nav-link">Contact Submissions</a>
            <a id='account' href="{{  url_for('views.admin_portal') }}" class="admin-nav-link">Account</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script>
        const activeButton = document.getElementById('{{ activeId }}');
        if (activeButton){
            activeButton.classList.add('active');
        }
    </script>
{% endmacro %}

{% macro contact_info(contact) %}
    <div class="contact-container">
        <div class="icon-row">
            <img height="30px" width="30px" src="{{ url_for('static', filename='images/email.svg') }}" alt="email icon">
            <div class="contact-text">{{ contact.email }}</div>
        </div>
        <div class="icon-row">
            <img height="30px" width="30px" src="{{ url_for('static', filename='images/phone.svg') }}" alt="phone icon">
            <div class="contact-text">{{ contact.phone_number }}</div>
        </div>
    </div>
{% endmacro %}
