{% macro admin_navbar(activeId="") %}
    <div id="adminNav">
        <div class="absolute-center-banner">Admin Portal</div>
        <div class="flex-align-center">
            <a id='employees' href="{{ url_for('views.manage_employees')}}" class="admin-nav-link">Manage Employees</a>
            <a id='practiceAreas' href="{{ url_for('views.manage_practice_areas')}}" class="admin-nav-link">Manage Practice Areas</a>
            <a id='reviews' href="{{ url_for('views.manage_reviews')}}" class="admin-nav-link">Manage Reviews</a>
            <a id='articles' href="{{ url_for('views.manage_articles', id=1)}}" class="admin-nav-link">Manage Articles</a>
            <a id='admins' href="{{ url_for('views.manage_admins')}}" class="admin-nav-link">Manage Admins</a>
            <a id='contact' href="{{  url_for('views.contact_submissions') }}" class="admin-nav-link">Contact Submissions</a>
            <a id='account' href="{{  url_for('views.admin_portal') }}" class="admin-nav-link">Account</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script>
        const activeButton = document.getElementById('{{ activeId }}');
        if (activeButton){
            activeButton.classList.add('active');
        }
    </script>
{% endmacro %}

{% macro contact_info(contact) %}
    <div class="contact-container">
        <div class="icon-row">
            <img height="30px" width="30px" src="{{ url_for('static', filename='images/email.svg') }}" alt="email icon">
            <div class="contact-text">{{ contact.email }}</div>
        </div>
        <div class="icon-row">
            <img height="30px" width="30px" src="{{ url_for('static', filename='images/phone.svg') }}" alt="phone icon">
            <div class="contact-text">{{ contact.phone_number }}</div>
        </div>
    </div>
{% endmacro %}

{% macro changelog_alert(message, date) %}
    <div class="changelog">
        <div class="changelog-date">{{ date }}</div>
        <div class="changelog-text">{{ message }}</div>
        <span class="changelog-close">&times;</span>
    </div>
    <script>
        let changelogAlerts = gsap.utils.toArray(document.getElementsByClassName("changelog"));
        changelogAlerts.forEach(changelog => {
            let closeButton = changelog.getElementsByClassName('changelog-close')[0];
            closeButton.addEventListener('click', () => {
                gsap.to(changelog, {autoAlpha: 0, height:0, duration: 0.5, ease: 'power4.out'});
                gsap.to(changelog, {borderWidth:0, padding:0, duration:0.2});
            })

        })

    </script>
{% endmacro %}