{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}
{% from 'macros.html' import admin_navbar, help_dialog %}
{% block title %}Manage Employees{% endblock %}
{% block content %}
    {{ admin_navbar('employees') }}
    <div class="page-container section1">
    <h1>Manage Employees</h1>
        <div class="form-container">
            <table id="manageEmployees">
                    <tr>
                        <th>Name</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                    {% for a in attorneys %}
                    <tr class="table-row">
                        <td><a class='text-link' href="{{ url_for('views.employee', id=a.id) }}">{{ a.name }}</a></td>
                        <td class="img"><img src="{{ a.picture_url }}" alt="picture preview"></td>
                        <td class="button-container">
                            <a class="btn" href={{ url_for('employees.edit_employee', eId=a.id) }}>Edit</a>
                            <a class="btn" href={{ url_for('employees.delete_attorney', aId=a.id) }}>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            <div class="centered-abs-btn">
                <a class='btn green-admin-btn centered-abs-btn'
                  href="{{ url_for('employees.create_employee'  ) }}">Create New Employee</a></div>
        </div>
    </div>
{% endblock %}