{% extends 'base.html' %}
{% from 'macros.html' import admin_navbar %}
{% block title %}Manage News & Articles{% endblock %}
{% block content %}
    {{ admin_navbar('articles') }}
    <div class="page">
        <h1>Manage News & Articles</h1>
        <div class="form-container" style="height: 100%">
            <div class="display-inset">
                <div class="top-bar">
                    <div class="button-container">
                        <div id="grid" class="button">
                            <img class="icon overlay" data-overlay='Grid' src="{{ url_for('static', filename='/images/grid.png') }}" alt="grid icon">
                        </div>
                        <div id="list" class="button">
                            <img class="icon overlay" data-overlay="List" src="{{ url_for('static', filename='/images/list.png') }}" alt="list icon">
                        </div>
                    </div>
                </div>
                <div class="display">
                    {% for article in articles %}
                        <div class="flex-row-nowrap">
                            <a href="{{ url_for('views.articles', id=article.id) }}" class="link-wrapper">
                                <div class="article" data-id="{{ article.id }}" data-title="{{ article.title }}"
                                     data-text="{{ article.text }}" data-date="{{ article.date }}"
                                     data-published="{{ article.published_date }}">
                                    <div class="article-date">{{ article.date }}</div>
                                    <h5>{{ article.title }}</h5>
                                </div>
                            </a>
                            <div class="button-container">
                                <div class="button" style="margin-right:2px">
                                    <a href="{{ url_for('views.edit_article', id=article.id) }}">Edit</a>
                                </div>
                                <div class="button" style="margin-left:2px">
                                    <a href="{{ url_for('views.delete_article', id=article.id) }}">Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="button-container">
                        <div class="button">
                            <a href="{{ url_for('views.new_article') }}">New Article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

