{% extends 'base.html' %}
{% from 'macros.html' import admin_navbar %}

{% block content %}
    {{ admin_navbar('articles') }}
    <div class="section1">

        <h1 style="text-align:center">{% block title %}News & Articles{% endblock %}</h1>

        <div class="row">
            <div class="col-4 sidebar">
                <a href="{{ url_for('views.new_article') }}"><button class="new-card">
                    New Article
                </button></a>

                {% for article in articles %}
                <div class="title-card">
                    <h6><a class="wlfblue" href="{{ url_for('views.manage_articles', id=article.id ) }}">{{ article.title }}</a></h6>
                    <a class="action btn btn-outline-gold delete-button" href="{{ url_for('views.delete_article', id=article.id) }}" style="margin:0;">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                {% endfor %}

            </div>
            <div id="content" class="col-8">
                <!-- Content goes here -->
                    <div class="article-container">
                        <div class="article-body">
                            <div class="article-title">
                                <h1><a class="wlfblue" href="#">{{ article.title }}</a></h1>
                                <p class="article-date"><b>Publishing Date: </b>{{ article.published_date }}</p>
                                <p><b>Source: </b>{{ article.url }}</p>
                                <p><b>Date Added: </b>{{ article.date }}</p>
                            </div>

                            <span>
                                <a class="action btn btn-outline-gold" href="{{ url_for('views.edit_article', id=article.id) }}">Edit</a>
                            </span>

                            <span>
                                <a href="{{ url_for('views.delete_article', id=article.id) }}" role="button" class="btn btn-outline-gold" >Delete</a>
                            </span>

                            <div class="article-summary">
                                <p class="article-body">{{ article.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
