{% extends "base.html" %}
{% block title %}Maps & Directions{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static',filename='fairfaxcourthouse.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h1 class="page-header-text">Maps & Directions</h1>
		</div>
	</div>

	<div class="page-container employee-section section1">
		
		<h3 class="center">Fairfax Office</h3>
		<div class="d-flex" style="justify-content: space-between; gap:40px; flex-wrap: wrap">
			<div class="d-flex flex-column">
				<h5>Address: </h5>
				<div>10640 Page Avenue, Suite 320 <br>
				Fairfax, VA 22030</div>
			</div>
			<div class="d-flex flex-column">
				<div class="d-flex">
					<h5 class="pad-right">Phone: </h5>
					<span>703-934-6377</span>
				</div>
				<div class="d-flex">
					<h5 class="pad-right">Fax: </h5>
					<span>703-934-6379</span>
				</div>
			</div>
		</div>
		<hr>

		<p style="text-align: center;">
			<span style="font-size: 1rem;" data-redactor-style-cache="font-size: 1rem;">To get directions to this location, click "Directions" or "View larger map" on the map below (Google Maps will open in a new window).<br></span>
        </p>
		<div class="d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9773.029441855377!2d-77.3142164777882!3d38.847539916713174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64eeda038b051%3A0xa7001e533791e963!2s10640%20Page%20Ave%20%23320%2C%20Fairfax%2C%20VA%2022030!5e0!3m2!1sen!2sus!4v1610394028105!5m2!1sen!2sus"
                    width="1280" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
        </div>
		<h3 class="center" style="margin-top:40px">Reno Office</h3>
		<div class="d-flex" style="justify-content: space-between; gap:40px; flex-wrap: wrap">
			<div class="d-flex flex-column">
				<h5>Address: </h5>
				<div>421 Court Street <br>
				Reno, Nevada 89501</div>
			</div>
			<div class="d-flex flex-column">
				<div class="d-flex">
					<h5 class="pad-right">Phone: </h5>
					<span>775-329-1766</span>
				</div>
				<div class="d-flex">
					<h5 class="pad-right">Fax: </h5>
					<span>703-934-6379</span>
				</div>
			</div>
		</div>
		<hr>

		<div class="d-flex justify-content-center">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3077.6283677197175!2d-119.81899068497695!3d39.522876579479025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809940cb9bd16801%3A0x5f724974f6d31f4e!2s421%20Court%20St%2C%20Reno%2C%20NV%2089501!5e0!3m2!1sen!2sus!4v1650484328849!5m2!1sen!2sus"
					width="1280" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
{% endblock %}