{% extends "base.html" %}
{% block title %}Mold and Environmental Litigation{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static', filename='images/microscope.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h1 class="page-header-text">Mold and Environmental Litigation</h1>
		</div>
	</div>

	<div class="page-container employee-section section1 d-flex flex-column" data-editable data-name="mold">
		<!-- editable mold -->
		<p>
			When buying a new home, the customer is entitled to one thing above all else: safety. If construction defects lead to a precarious living situation, legal action must be taken. A very common effect from various construction defects is mold growth. Whether it is caused from a plumbing issue, insulation, or careless material selection, the homeowner has many potential claims to follow suit with. For instance, Fraud and Negligence are common with mold and environmental litigation. If the construction company or party at fault knew about a construction defect or mold problem, but covered it up to save money or advertised the building without flaws, the customer has a very strong case for Fraud with the potential for serious financial compensation.
		</p>
		<p>
			With mold cases, the homeowner may get sick and be forced to move out while their home is being remediated. The construction company should be held accountable for these expenses, and any medical problems will greatly increase the compensation that our firm seeks.</p>
		<p>
			Wise Law Firm, PLC, has abundant experience with mold cases. Often, these cases receive multi-million-dollar settlements. We are determined to ensure justice for new homeowners, and we value the integrity of proper construction. Do not let construction companies cut corners at your risk, call Wise Law Firm, PLC today and see how we can help.
		</p>
		<!-- endeditable mold -->
	</div>
{% endblock %}