{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}
{% block content %}
    <style>
        .contact-container {
            position: relative;
            min-width: 450px;
            padding: 20px;
            margin: 20px;
            background-color: white;
            border-radius: 15px;
        }

        .contact-container:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            cursor: pointer;
        }

        .contact-page-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 10% 5% 10%
        }

    </style>
    <div class="contact-page-container section1">
        <h1 style="text-align:center">New Article</h1>
        <div class="contact-container">
            <form method="POST">
                {{ render_field(form.title) }}
                {{ render_field(form.publishing_date) }}
                {{ render_field(form.text) }}
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-outline-gold">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}