{% extends "base.html" %}
{% block title %}Our Team{% endblock %}
{% block content %}

<div class="pimg3" data-parallax="scroll" data-image-src="{{url_for('static', filename='images/nats-bg.jpg') }}">
    <div class="parallax-flex-container d-flex flex-column" >
        <h1 class="page-header-text">Our Team</h1>
    </div>
</div>

<div class="page-container">
    <h1>Attorneys</h1>
    <hr>
    {% for a in attorneys %}
        <a class="employee-container" href="{{ url_for('views.employee', id=a.id) }}">
            <div class="employee-picture"><img src="{{ a.picture_url }}" alt="{{ a.name }} profile picture"></div>
            <div class="flex-column-start">
                <header>
                    <h2 class="employee-name">{{ a.name }}</h2>
                    <div class="employee-title">{{ a.title }}</div>
                </header>

                <div class="flex-row-center r-gap-5">
                    <div class="d-flex align-center">
                        <img height="30px" width="30px" src="{{url_for('static', filename='images/email.svg') }}" alt="email icon">
                        <div class="contact-text">{{ a.email}}</div>
                    </div>
                    <div class="d-flex align-center">
                        <img height=30px width=30px src="{{url_for('static', filename='images/phone.svg') }}" alt="phone icon">
                        <div class="contact-text">{{ a.phone_number }}</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}

