{% extends "base.html" %}

{% block content %}
	<div class="page-container employee-section section1 d-flex flex-column">

		<div class="employee-header d-flex flex-row">
			<img class="pic animate-fadein5" src="{{url_for('static', filename='pat-donahue.png') }}">
			<div class="employee-header-text-wrapper">
				<h1 class="employee-header-text animate-right">Patrick Donahue</h1>
				<h2 class="employee-header-text2 animate-up">Of Counsel</h2>
				<div class="gold-bar animate-left"></div>
			</div>
			<div class="attorney-contact-info d-flex flex-column">
				<div class="d-flex justify-content-space-between">
					<image height=20px width=20px src="{{url_for('static', filename='email.jpg') }}"></image>
					<div class="email-text">dwise@wiselaw.pro</div>
				</div>
				<div class="d-flex justify-content-space-between">
					<image height=30px width=30px src="{{url_for('static', filename='phone.jpg') }}"></image>
					<div class="phone-text">(703)-934-6377</div>
				</div>
			</div>
		</div>
		<div data-editable data-name="pat-donahue">
			<!-- editable pat-donahue -->
			<h4>About</h4>
			<p>Patrick Michael Donahue is a partner of the Firm. He attended the Columbus School of Law, Catholic University of America, and following a two year judicial clerkship for the Honorable Robert M. Scott, Associate Judge of the Superior Court for the District of Columbia, Mr. Donahue entered private practice in 1983 and began his trial practice. He currently has a wide-ranging criminal and civil trial practice, representing individuals and businesses. For nearly 30 years he has tried cases before juries in federal and state courts in the State of Maryland and in the District of Columbia, as well as in other jurisdictions around the country. He focuses his practice in the areas of complex criminal and civil litigation and serious injury and wrongful death litigation, representing both plaintiffs and defendants. Since 1992 he has been recognized by his peers as an AV rated attorney.</p>

			<h4>Professional Activities</h4>
			<ul>
				<li>District of Columbia Bar</li>
				<li>Maryland State Bar</li>
				<li>Anne Arundel County Bar Association</li>
				<li>Maryland Association for Justice</li>
			</ul>

			<h4>Education</h4>
			<ul>
				<li>The Ohio State University, B.A., 1978</li>
				<li>Columbus School of Law, Catholic University of America, J.D., 1981</li>
			</ul>

			<h4>Areas of Practice</h4>
			<ul>
				<li>Wrongful Death</li>
				<li>Medical Malpractice</li>
				<li>Commercial Litigation</li>
				<li>Banking Law</li>
				<li>Criminal Trial Practice</li>
				<li>Products Liability</li>
				<li>Personal Injury</li>
				<li>Elder Law</li>
				<li>Toxic Substances</li>
				<li>Water Quality</li>
				<li>Environmental Health and Safety</li>
				<li>Environmental Law</li>
				<li>Business Litigation</li>
				<li>Premises Liability</li>
			</ul>

			<h4>Bar & Court Admissions</h4>
			<ul>
				<li>1981, District of Columbia</li>
				<li>1982, Maryland</li>
				<li>1983, U.S. District Court for the District of Columbia</li>
				<li>1986, U.S. District Court, District of Maryland</li>
				<li>1987, U.S. Court of Appeals for the District of Columbia Circuit</li>
				<li>1990, U.S. Court of Appeals, Fourth Circuit</li>
				<li>1991, U.S. Supreme Court</li>
			</ul>

			<h4>Membership</h4>
			<ul>
				<li>The District of Columbia Bar; Maryland State and American Bar Associations</li>
			</ul>
			<!-- endeditable pat-donahue -->
		</div>
	</div>
{% endblock %}