{% extends "base.html" %}
{% block title %}Practice Areas{% endblock %}
{% block content %}

<div class="pimg3" data-parallax="scroll" data-image-src={{ practice_areas.picture_url }} >
    <div class="parallax-flex-container d-flex flex-column" >
        <h1 class="page-header-text">{{ practice_areas.name}}</h1>
    </div>
</div>

<div class="page-container">
    {% for pa in practice_areas %}
        <a class="employee-container" href="{{ url_for('views.employee', id=a.id) }}">

            <div style="padding: 10px 20px; width:60%; max-width: 350px;" class="flex-column-start">
                <h3 style="width: 100%; text-align: left">{{ a.name }}</h3>
                <h5 style="width: 100%; text-align: left">{{ a.title }}</h5>
                <div class="flex-row-center">
                    <div class="d-flex align-center">
                        <img height="30px" width="30px" src="{{url_for('static', filename='images/email.jpg') }}" alt="email icon">
                        <div class="contact-text">{{ a.email}}</div>
                    </div>
                    <div class="d-flex align-center">
                        <img height=30px width=30px src="{{url_for('static', filename='images/phone.jpg') }}" alt="phone icon">
                        <div class="contact-text">{{ a.phone_number }}</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>