{% extends "base.html" %}
{% block title %}What our client's say about us:{% endblock %}
{% block content %}
	<section class="section1">
		<div class="review-page-container">
			<h1 class="review-title">What our client's say about us:</h1>
			<a class="btn btn-outline-gold" href="https://www.lawyers.com/clientrating/fillSurvey?firmId=28118349" role="button">Review Us!</a>
			<div class="swiper-container mySwiper">
				<div class="swiper-wrapper">
                    {% for review in reviews %}
                        <div class="swiper-slide">
                            <div class="review-content">{{ review.content }}</div>
                            <div class="review-author">- {{ review.author }}</div>
                        </div>
                    {% endfor %}
				</div>
			</div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev gold"></div>
            <div class="swiper-button-next gold"></div>
		</div>
	</section>

	<section class="section2">
		<div class="review-page-container">
			<h2 class="review-title" style="padding-bottom:50px">Awards and Recognition: </h2>
			<div class="flex-awards">
				<div class="award">
				  <img alt='The national trial lawyers top 40 under 40' src="{{ url_for('static', filename='images/award1.png') }}">
				</div>
				<div class="award" style="padding-top:30px">
				  <img alt='Super Lawyers Rising Stars 2015' src="{{ url_for('static', filename='images/award4.png') }}">
				</div>
				<div class="award">
				  <img alt='2016 AV Award David Wise' src="{{ url_for('static', filename='images/award6.png') }}">
				</div>		
				<div class="award">
				  <img alt='Massachusetts Academy of Trial Attorneys' src="{{ url_for('static', filename='images/award5.png') }}">
				</div>
				<div class="award">
				  <img alt="Martindale-Hubbell Top Rated Lawyer" src="{{ url_for('static', filename='images/award3.png') }}">
				</div>
				<div class="award">
				  <img alt='Lawyers Weekly' src="{{ url_for('static', filename='images/award8.jpg') }}">
				</div>
				<div class="award">
				  <img alt="Baltimore and Washington DC's Top Rated Lawyers" src="{{ url_for('static', filename='images/award2.png') }}">
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            loop: true,
            coverflowEffect: {
              rotate: 50,
              stretch: 0,
              depth: 100,
              modifier: 1,
              slideShadows: true,
            },
            pagination: {
              el: ".swiper-pagination",
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
        });
    </script>
{% endblock %}



			
		

