{% extends "base.html" %}
{% block title %}What our client's say about us:{% endblock %}
{% block content %}
	<section class="section1">
		<div class="review-page-container">
			<h1 class="review-title">What our client's say about us:</h1>
			<a class="btn btn-outline-gold" href="https://www.lawyers.com/clientrating/fillSurvey?firmId=28118349" role="button">Review Us!</a>
			<div class="swiper-container mySwiper">
				<div class="swiper-wrapper">
                    {% for review in reviews %}
                        <div class="swiper-slide">
                            <div class="review-content">{{ review.content }}</div>
                            <div class="review-author">- {{ review.author }}</div>
                        </div>
                    {% endfor %}
					{#<div class="swiper-slide">
						<div class="review-content">
							If you're looking for a reliable, experienced law firm in the Fairfax area, Wise & Donahue delivers.
						</div>
						<div class="review-author">
							- Google Review
						</div>
					</div>#}
					{#<div class="swiper-slide">
						<div class="review-content">
							David is a tireless advocate and first class lawyer. His knowledge and experience are unparalleled.
						</div>
						<div class="review-author">
							- Martindale Review
						</div>
					</div>
					<div class="swiper-slide">
						<div class="review-content">
							Worked with Mr. Wise on many matters through the years. Excellent in all regards. Highest ethical standards.
						</div>
						<div class="review-author">
							- Martindale Review
						</div>
					</div>
					<div class="swiper-slide">
						<div class="review-content">
							David Wise is an outstanding lawyer and a straight-shooter. He zealously represents his clients but is fair and gracious to opposing counsel.
						</div>
						<div class="review-author">
							- Martindale Review
						</div>
					</div>#}
				</div>
			</div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev gold"></div>
            <div class="swiper-button-next gold"></div>
		</div>
	</section>

	<section class="section2">
		<div class="review-page-container">
			<h2 class="review-title" style="padding-bottom:50px">Awards and Recognition: </h2>
			<div class="pure-g" style="row-gap: 90px">
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 award">
				  <img src="{{ url_for('static', filename='award1.png') }}">
				</div>
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 award" style="padding-top:30px">
				  <img src="{{ url_for('static', filename='award4.png') }}">
				</div>
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 award">
				  <img src="{{ url_for('static', filename='award6.png') }}">
				</div>		
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 award">
				  <img src="{{ url_for('static', filename='award5.png') }}">
				</div>

				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 award">
				  <img src="{{ url_for('static', filename='award3.png') }}">
				</div>
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 award">
				  <img src="{{ url_for('static', filename='award8.jpg') }}">
				</div>
				<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 award">
				  <img  src="{{ url_for('static', filename='award2.png') }}">
				</div>
			</div>
		</div>
	</section>
{% endblock %}

			
		

