{% extends "base.html" %}
{% block title %}Wrongful Death and Personal Injury Litigation{% endblock %}
{% block content %}
	<div class="pimg3" data-parallax="scroll" data-image-src="{{ url_for('static', filename='brokenarm.jpg') }}">
		<div class="parallax-flex-container d-flex flex-column" >
			<h2 class="page-header-text">Wrongful Death and Personal Injury Litigation</h2>
		</div>
	</div>

	<div class="page-container employee-section section1 d-flex flex-column" data-editable data-name="wrongful-death">
		<!-- editable wrongful-death -->
		<p>In a moment’s time our lives can be changed, or destroyed, by the careless and indifferent acts of others, leading to life changing tragedy. The attorneys at Wise Law Firm, PLC have extensive experience representing victims and their families in wrongful death and serious personal injury matters arising from the negligent or intentional acts of others. These matters include negligence actions for wrongful death and serious injury arising from medical malpractice, commercial trucking and auto accidents, premises liability, nursing home negligence, and toxic tort and mold litigation.  Wise Law Firm, PLC attorneys have secured multiple million dollar jury verdicts arising from negligence and intentional wrongful acts, and we are prepared to assist you in every way possible as you seek the damages you are entitled to receive.
		<!-- endeditable wrongful-death -->
	</div>
{% endblock %}